.wc-block-grid__product-onsale {
  background-color: var(--wc-sale-background1);
  background: linear-gradient(to right, var(--wc-sale-background1) 0%, var(--wc-sale-background2) 100%);
  text-align: center;
  text-transform: uppercase;
  padding: 0 1.2rem;
  height: 2.5rem;
  line-height: 2.5rem;
  color: var(--wc-sale-text);
  font-weight: 500;
  font-size: .8rem;
  box-shadow: var(--shadow-light);
  z-index: 9;
  border-radius: 0;
  border: 0;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center; }
  .wc-block-grid__product-onsale:after {
    content: "";
    width: 80%;
    height: 80%;
    top: 10%;
    left: 10%;
    position: absolute;
    border: 1px solid var(--wc-sale-border); }

.wc-block-grid__products .wc-block-grid__product .wc-block-components-product-sale-badge.wc-block-components-product-sale-badge--align-left {
  top: 0;
  left: 0;
  margin: -6px 0 0 -.5rem;
  background: linear-gradient(to right, var(--wc-sale-background1) 0%, var(--wc-sale-background2) 100%); }
  .wc-block-grid__products .wc-block-grid__product .wc-block-components-product-sale-badge.wc-block-components-product-sale-badge--align-left:before {
    content: "";
    width: 0;
    height: 0;
    top: 2.5rem;
    left: 0;
    border-left: .5rem solid transparent;
    border-top: 3px solid var(--wc-sale-background2);
    position: absolute; }

.wc-block-grid__products .wc-block-grid__product .wc-block-components-product-sale-badge.wc-block-components-product-sale-badge--align-right {
  top: 0;
  right: 0;
  margin: -6px -.5rem 0 0;
  background: linear-gradient(to left, var(--wc-sale-background1) 0%, var(--wc-sale-background2) 100%); }
  .wc-block-grid__products .wc-block-grid__product .wc-block-components-product-sale-badge.wc-block-components-product-sale-badge--align-right:before {
    content: "";
    width: 0;
    height: 0;
    top: 2.5rem;
    right: 0;
    border-right: .5rem solid transparent;
    border-top: 3px solid var(--wc-sale-background2);
    position: absolute; }

.wc-block-grid__products .wc-block-grid__product .wc-block-components-product-sale-badge.wc-block-components-product-sale-badge--align-center {
  top: 0;
  margin: -8px 0 0 0;
  background: linear-gradient(to right, var(--wc-sale-background1) 0%, var(--wc-sale-background2) 100%); }
  .wc-block-grid__products .wc-block-grid__product .wc-block-components-product-sale-badge.wc-block-components-product-sale-badge--align-center:before {
    content: "";
    width: 0;
    height: 0;
    top: 0;
    left: -5px;
    border-bottom: 8px solid var(--wc-sale-background2);
    border-left: 5px solid transparent;
    position: absolute; }

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIi4uLy4uL2V4Y2wvY3NzL3RoZW1lLXdjLXNhbGU0LXNhc3MuY3NzIl0sIm5hbWVzIjpbXSwibWFwcGluZ3MiOiJBQUFBO0VBQ0UsNENBQTRDO0VBQzVDLHFHQUFxRztFQUNyRyxrQkFBa0I7RUFDbEIseUJBQXlCO0VBQ3pCLGlCQUFpQjtFQUNqQixjQUFjO0VBQ2QsbUJBQW1CO0VBQ25CLDBCQUEwQjtFQUMxQixnQkFBZ0I7RUFDaEIsZ0JBQWdCO0VBQ2hCLCtCQUErQjtFQUMvQixVQUFVO0VBQ1YsZ0JBQWdCO0VBQ2hCLFNBQVM7RUFDVCxrQkFBa0I7RUFDbEIsb0JBQW9CO0VBQ3BCLG1CQUFtQjtFQUNuQix1QkFBdUIsRUFBRTtFQUN6QjtJQUNFLFdBQVc7SUFDWCxVQUFVO0lBQ1YsV0FBVztJQUNYLFFBQVE7SUFDUixTQUFTO0lBQ1Qsa0JBQWtCO0lBQ2xCLHVDQUF1QyxFQUFFOztBQUU3QztFQUNFLE1BQU07RUFDTixPQUFPO0VBQ1AsdUJBQXVCO0VBQ3ZCLHFHQUFxRyxFQUFFO0VBQ3ZHO0lBQ0UsV0FBVztJQUNYLFFBQVE7SUFDUixTQUFTO0lBQ1QsV0FBVztJQUNYLE9BQU87SUFDUCxvQ0FBb0M7SUFDcEMsZ0RBQWdEO0lBQ2hELGtCQUFrQixFQUFFOztBQUV4QjtFQUNFLE1BQU07RUFDTixRQUFRO0VBQ1IsdUJBQXVCO0VBQ3ZCLG9HQUFvRyxFQUFFO0VBQ3RHO0lBQ0UsV0FBVztJQUNYLFFBQVE7SUFDUixTQUFTO0lBQ1QsV0FBVztJQUNYLFFBQVE7SUFDUixxQ0FBcUM7SUFDckMsZ0RBQWdEO0lBQ2hELGtCQUFrQixFQUFFOztBQUV4QjtFQUNFLE1BQU07RUFDTixrQkFBa0I7RUFDbEIscUdBQXFHLEVBQUU7RUFDdkc7SUFDRSxXQUFXO0lBQ1gsUUFBUTtJQUNSLFNBQVM7SUFDVCxNQUFNO0lBQ04sVUFBVTtJQUNWLG1EQUFtRDtJQUNuRCxrQ0FBa0M7SUFDbEMsa0JBQWtCLEVBQUUiLCJmaWxlIjoidGhlbWUtd2Mtc2FsZTQuY3NzIiwic291cmNlc0NvbnRlbnQiOlsiLndjLWJsb2NrLWdyaWRfX3Byb2R1Y3Qtb25zYWxlIHtcbiAgYmFja2dyb3VuZC1jb2xvcjogdmFyKC0td2Mtc2FsZS1iYWNrZ3JvdW5kMSk7XG4gIGJhY2tncm91bmQ6IGxpbmVhci1ncmFkaWVudCh0byByaWdodCwgdmFyKC0td2Mtc2FsZS1iYWNrZ3JvdW5kMSkgMCUsIHZhcigtLXdjLXNhbGUtYmFja2dyb3VuZDIpIDEwMCUpO1xuICB0ZXh0LWFsaWduOiBjZW50ZXI7XG4gIHRleHQtdHJhbnNmb3JtOiB1cHBlcmNhc2U7XG4gIHBhZGRpbmc6IDAgMS4ycmVtO1xuICBoZWlnaHQ6IDIuNXJlbTtcbiAgbGluZS1oZWlnaHQ6IDIuNXJlbTtcbiAgY29sb3I6IHZhcigtLXdjLXNhbGUtdGV4dCk7XG4gIGZvbnQtd2VpZ2h0OiA1MDA7XG4gIGZvbnQtc2l6ZTogLjhyZW07XG4gIGJveC1zaGFkb3c6IHZhcigtLXNoYWRvdy1saWdodCk7XG4gIHotaW5kZXg6IDk7XG4gIGJvcmRlci1yYWRpdXM6IDA7XG4gIGJvcmRlcjogMDtcbiAgcG9zaXRpb246IHJlbGF0aXZlO1xuICBkaXNwbGF5OiBpbmxpbmUtZmxleDtcbiAgYWxpZ24taXRlbXM6IGNlbnRlcjtcbiAganVzdGlmeS1jb250ZW50OiBjZW50ZXI7IH1cbiAgLndjLWJsb2NrLWdyaWRfX3Byb2R1Y3Qtb25zYWxlOmFmdGVyIHtcbiAgICBjb250ZW50OiBcIlwiO1xuICAgIHdpZHRoOiA4MCU7XG4gICAgaGVpZ2h0OiA4MCU7XG4gICAgdG9wOiAxMCU7XG4gICAgbGVmdDogMTAlO1xuICAgIHBvc2l0aW9uOiBhYnNvbHV0ZTtcbiAgICBib3JkZXI6IDFweCBzb2xpZCB2YXIoLS13Yy1zYWxlLWJvcmRlcik7IH1cblxuLndjLWJsb2NrLWdyaWRfX3Byb2R1Y3RzIC53Yy1ibG9jay1ncmlkX19wcm9kdWN0IC53Yy1ibG9jay1jb21wb25lbnRzLXByb2R1Y3Qtc2FsZS1iYWRnZS53Yy1ibG9jay1jb21wb25lbnRzLXByb2R1Y3Qtc2FsZS1iYWRnZS0tYWxpZ24tbGVmdCB7XG4gIHRvcDogMDtcbiAgbGVmdDogMDtcbiAgbWFyZ2luOiAtNnB4IDAgMCAtLjVyZW07XG4gIGJhY2tncm91bmQ6IGxpbmVhci1ncmFkaWVudCh0byByaWdodCwgdmFyKC0td2Mtc2FsZS1iYWNrZ3JvdW5kMSkgMCUsIHZhcigtLXdjLXNhbGUtYmFja2dyb3VuZDIpIDEwMCUpOyB9XG4gIC53Yy1ibG9jay1ncmlkX19wcm9kdWN0cyAud2MtYmxvY2stZ3JpZF9fcHJvZHVjdCAud2MtYmxvY2stY29tcG9uZW50cy1wcm9kdWN0LXNhbGUtYmFkZ2Uud2MtYmxvY2stY29tcG9uZW50cy1wcm9kdWN0LXNhbGUtYmFkZ2UtLWFsaWduLWxlZnQ6YmVmb3JlIHtcbiAgICBjb250ZW50OiBcIlwiO1xuICAgIHdpZHRoOiAwO1xuICAgIGhlaWdodDogMDtcbiAgICB0b3A6IDIuNXJlbTtcbiAgICBsZWZ0OiAwO1xuICAgIGJvcmRlci1sZWZ0OiAuNXJlbSBzb2xpZCB0cmFuc3BhcmVudDtcbiAgICBib3JkZXItdG9wOiAzcHggc29saWQgdmFyKC0td2Mtc2FsZS1iYWNrZ3JvdW5kMik7XG4gICAgcG9zaXRpb246IGFic29sdXRlOyB9XG5cbi53Yy1ibG9jay1ncmlkX19wcm9kdWN0cyAud2MtYmxvY2stZ3JpZF9fcHJvZHVjdCAud2MtYmxvY2stY29tcG9uZW50cy1wcm9kdWN0LXNhbGUtYmFkZ2Uud2MtYmxvY2stY29tcG9uZW50cy1wcm9kdWN0LXNhbGUtYmFkZ2UtLWFsaWduLXJpZ2h0IHtcbiAgdG9wOiAwO1xuICByaWdodDogMDtcbiAgbWFyZ2luOiAtNnB4IC0uNXJlbSAwIDA7XG4gIGJhY2tncm91bmQ6IGxpbmVhci1ncmFkaWVudCh0byBsZWZ0LCB2YXIoLS13Yy1zYWxlLWJhY2tncm91bmQxKSAwJSwgdmFyKC0td2Mtc2FsZS1iYWNrZ3JvdW5kMikgMTAwJSk7IH1cbiAgLndjLWJsb2NrLWdyaWRfX3Byb2R1Y3RzIC53Yy1ibG9jay1ncmlkX19wcm9kdWN0IC53Yy1ibG9jay1jb21wb25lbnRzLXByb2R1Y3Qtc2FsZS1iYWRnZS53Yy1ibG9jay1jb21wb25lbnRzLXByb2R1Y3Qtc2FsZS1iYWRnZS0tYWxpZ24tcmlnaHQ6YmVmb3JlIHtcbiAgICBjb250ZW50OiBcIlwiO1xuICAgIHdpZHRoOiAwO1xuICAgIGhlaWdodDogMDtcbiAgICB0b3A6IDIuNXJlbTtcbiAgICByaWdodDogMDtcbiAgICBib3JkZXItcmlnaHQ6IC41cmVtIHNvbGlkIHRyYW5zcGFyZW50O1xuICAgIGJvcmRlci10b3A6IDNweCBzb2xpZCB2YXIoLS13Yy1zYWxlLWJhY2tncm91bmQyKTtcbiAgICBwb3NpdGlvbjogYWJzb2x1dGU7IH1cblxuLndjLWJsb2NrLWdyaWRfX3Byb2R1Y3RzIC53Yy1ibG9jay1ncmlkX19wcm9kdWN0IC53Yy1ibG9jay1jb21wb25lbnRzLXByb2R1Y3Qtc2FsZS1iYWRnZS53Yy1ibG9jay1jb21wb25lbnRzLXByb2R1Y3Qtc2FsZS1iYWRnZS0tYWxpZ24tY2VudGVyIHtcbiAgdG9wOiAwO1xuICBtYXJnaW46IC04cHggMCAwIDA7XG4gIGJhY2tncm91bmQ6IGxpbmVhci1ncmFkaWVudCh0byByaWdodCwgdmFyKC0td2Mtc2FsZS1iYWNrZ3JvdW5kMSkgMCUsIHZhcigtLXdjLXNhbGUtYmFja2dyb3VuZDIpIDEwMCUpOyB9XG4gIC53Yy1ibG9jay1ncmlkX19wcm9kdWN0cyAud2MtYmxvY2stZ3JpZF9fcHJvZHVjdCAud2MtYmxvY2stY29tcG9uZW50cy1wcm9kdWN0LXNhbGUtYmFkZ2Uud2MtYmxvY2stY29tcG9uZW50cy1wcm9kdWN0LXNhbGUtYmFkZ2UtLWFsaWduLWNlbnRlcjpiZWZvcmUge1xuICAgIGNvbnRlbnQ6IFwiXCI7XG4gICAgd2lkdGg6IDA7XG4gICAgaGVpZ2h0OiAwO1xuICAgIHRvcDogMDtcbiAgICBsZWZ0OiAtNXB4O1xuICAgIGJvcmRlci1ib3R0b206IDhweCBzb2xpZCB2YXIoLS13Yy1zYWxlLWJhY2tncm91bmQyKTtcbiAgICBib3JkZXItbGVmdDogNXB4IHNvbGlkIHRyYW5zcGFyZW50O1xuICAgIHBvc2l0aW9uOiBhYnNvbHV0ZTsgfVxuIl19 */