.wc-block-grid__product-onsale {
  background-color: var(--wc-sale-background1);
  background: linear-gradient(to right, var(--wc-sale-background2) 0%, var(--wc-sale-background1) 100%);
  text-align: center;
  text-transform: uppercase;
  padding: 0 1rem;
  height: 2rem;
  line-height: 2rem;
  color: var(--wc-sale-text);
  font-weight: 500;
  font-size: .8rem;
  box-shadow: var(--shadow-light);
  z-index: 9;
  border-radius: 0;
  border: 0; }

.wc-block-grid__products .wc-block-grid__product .wc-block-components-product-sale-badge.wc-block-components-product-sale-badge--align-left {
  position: absolute;
  top: 0;
  left: 0;
  right: auto;
  padding: 0 .5rem 0 1rem;
  margin: -6px 0 0 -.5rem;
  background: linear-gradient(to right, var(--wc-sale-background2) 0%, var(--wc-sale-background1) 100%); }
  .wc-block-grid__products .wc-block-grid__product .wc-block-components-product-sale-badge.wc-block-components-product-sale-badge--align-left:after {
    content: "";
    width: 0;
    height: 0;
    top: 0rem;
    border-left: 1rem solid var(--wc-sale-background1);
    border-top: 1rem solid transparent;
    border-bottom: 1rem solid transparent;
    position: absolute;
    margin-left: .5rem; }

.wc-block-grid__products .wc-block-grid__product .wc-block-components-product-sale-badge.wc-block-components-product-sale-badge--align-right {
  position: absolute;
  top: 0;
  left: auto;
  right: 0;
  padding: 0 1rem 0 .5rem;
  margin: -6px -.5rem 0 0;
  background: linear-gradient(to left, var(--wc-sale-background2) 0%, var(--wc-sale-background1) 100%); }
  .wc-block-grid__products .wc-block-grid__product .wc-block-components-product-sale-badge.wc-block-components-product-sale-badge--align-right:before {
    content: "";
    width: 0;
    height: 0;
    top: 0rem;
    border-right: 1rem solid var(--wc-sale-background1);
    border-top: 1rem solid transparent;
    border-bottom: 1rem solid transparent;
    position: absolute;
    margin-left: -1.5rem; }

.wc-block-grid__products .wc-block-grid__product .wc-block-components-product-sale-badge.wc-block-components-product-sale-badge--align-center {
  position: absolute;
  top: 0;
  left: 50%;
  right: auto;
  transform: translateX(-50%);
  background: linear-gradient(to left, var(--wc-sale-background1) 0%, var(--wc-sale-background2) 50%, var(--wc-sale-background1) 100%); }
  .wc-block-grid__products .wc-block-grid__product .wc-block-components-product-sale-badge.wc-block-components-product-sale-badge--align-center:before {
    content: "";
    width: 0;
    height: 0;
    top: 0rem;
    border-right: 1rem solid var(--wc-sale-background1);
    border-top: 1rem solid transparent;
    border-bottom: 1rem solid transparent;
    position: absolute;
    margin-left: -2rem; }
  .wc-block-grid__products .wc-block-grid__product .wc-block-components-product-sale-badge.wc-block-components-product-sale-badge--align-center:after {
    content: "";
    width: 0;
    height: 0;
    top: 0rem;
    border-left: 1rem solid var(--wc-sale-background1);
    border-top: 1rem solid transparent;
    border-bottom: 1rem solid transparent;
    position: absolute;
    margin-left: 1rem; }

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIi4uLy4uL2V4Y2wvY3NzL3RoZW1lLXdjLXNhbGUyLXNhc3MuY3NzIl0sIm5hbWVzIjpbXSwibWFwcGluZ3MiOiJBQUFBO0VBQ0UsNENBQTRDO0VBQzVDLHFHQUFxRztFQUNyRyxrQkFBa0I7RUFDbEIseUJBQXlCO0VBQ3pCLGVBQWU7RUFDZixZQUFZO0VBQ1osaUJBQWlCO0VBQ2pCLDBCQUEwQjtFQUMxQixnQkFBZ0I7RUFDaEIsZ0JBQWdCO0VBQ2hCLCtCQUErQjtFQUMvQixVQUFVO0VBQ1YsZ0JBQWdCO0VBQ2hCLFNBQVMsRUFBRTs7QUFFYjtFQUNFLGtCQUFrQjtFQUNsQixNQUFNO0VBQ04sT0FBTztFQUNQLFdBQVc7RUFDWCx1QkFBdUI7RUFDdkIsdUJBQXVCO0VBQ3ZCLHFHQUFxRyxFQUFFO0VBQ3ZHO0lBQ0UsV0FBVztJQUNYLFFBQVE7SUFDUixTQUFTO0lBQ1QsU0FBUztJQUNULGtEQUFrRDtJQUNsRCxrQ0FBa0M7SUFDbEMscUNBQXFDO0lBQ3JDLGtCQUFrQjtJQUNsQixrQkFBa0IsRUFBRTs7QUFFeEI7RUFDRSxrQkFBa0I7RUFDbEIsTUFBTTtFQUNOLFVBQVU7RUFDVixRQUFRO0VBQ1IsdUJBQXVCO0VBQ3ZCLHVCQUF1QjtFQUN2QixvR0FBb0csRUFBRTtFQUN0RztJQUNFLFdBQVc7SUFDWCxRQUFRO0lBQ1IsU0FBUztJQUNULFNBQVM7SUFDVCxtREFBbUQ7SUFDbkQsa0NBQWtDO0lBQ2xDLHFDQUFxQztJQUNyQyxrQkFBa0I7SUFDbEIsb0JBQW9CLEVBQUU7O0FBRTFCO0VBQ0Usa0JBQWtCO0VBQ2xCLE1BQU07RUFDTixTQUFTO0VBQ1QsV0FBVztFQUNYLDJCQUEyQjtFQUMzQixvSUFBb0ksRUFBRTtFQUN0STtJQUNFLFdBQVc7SUFDWCxRQUFRO0lBQ1IsU0FBUztJQUNULFNBQVM7SUFDVCxtREFBbUQ7SUFDbkQsa0NBQWtDO0lBQ2xDLHFDQUFxQztJQUNyQyxrQkFBa0I7SUFDbEIsa0JBQWtCLEVBQUU7RUFDdEI7SUFDRSxXQUFXO0lBQ1gsUUFBUTtJQUNSLFNBQVM7SUFDVCxTQUFTO0lBQ1Qsa0RBQWtEO0lBQ2xELGtDQUFrQztJQUNsQyxxQ0FBcUM7SUFDckMsa0JBQWtCO0lBQ2xCLGlCQUFpQixFQUFFIiwiZmlsZSI6InRoZW1lLXdjLXNhbGUyLmNzcyIsInNvdXJjZXNDb250ZW50IjpbIi53Yy1ibG9jay1ncmlkX19wcm9kdWN0LW9uc2FsZSB7XG4gIGJhY2tncm91bmQtY29sb3I6IHZhcigtLXdjLXNhbGUtYmFja2dyb3VuZDEpO1xuICBiYWNrZ3JvdW5kOiBsaW5lYXItZ3JhZGllbnQodG8gcmlnaHQsIHZhcigtLXdjLXNhbGUtYmFja2dyb3VuZDIpIDAlLCB2YXIoLS13Yy1zYWxlLWJhY2tncm91bmQxKSAxMDAlKTtcbiAgdGV4dC1hbGlnbjogY2VudGVyO1xuICB0ZXh0LXRyYW5zZm9ybTogdXBwZXJjYXNlO1xuICBwYWRkaW5nOiAwIDFyZW07XG4gIGhlaWdodDogMnJlbTtcbiAgbGluZS1oZWlnaHQ6IDJyZW07XG4gIGNvbG9yOiB2YXIoLS13Yy1zYWxlLXRleHQpO1xuICBmb250LXdlaWdodDogNTAwO1xuICBmb250LXNpemU6IC44cmVtO1xuICBib3gtc2hhZG93OiB2YXIoLS1zaGFkb3ctbGlnaHQpO1xuICB6LWluZGV4OiA5O1xuICBib3JkZXItcmFkaXVzOiAwO1xuICBib3JkZXI6IDA7IH1cblxuLndjLWJsb2NrLWdyaWRfX3Byb2R1Y3RzIC53Yy1ibG9jay1ncmlkX19wcm9kdWN0IC53Yy1ibG9jay1jb21wb25lbnRzLXByb2R1Y3Qtc2FsZS1iYWRnZS53Yy1ibG9jay1jb21wb25lbnRzLXByb2R1Y3Qtc2FsZS1iYWRnZS0tYWxpZ24tbGVmdCB7XG4gIHBvc2l0aW9uOiBhYnNvbHV0ZTtcbiAgdG9wOiAwO1xuICBsZWZ0OiAwO1xuICByaWdodDogYXV0bztcbiAgcGFkZGluZzogMCAuNXJlbSAwIDFyZW07XG4gIG1hcmdpbjogLTZweCAwIDAgLS41cmVtO1xuICBiYWNrZ3JvdW5kOiBsaW5lYXItZ3JhZGllbnQodG8gcmlnaHQsIHZhcigtLXdjLXNhbGUtYmFja2dyb3VuZDIpIDAlLCB2YXIoLS13Yy1zYWxlLWJhY2tncm91bmQxKSAxMDAlKTsgfVxuICAud2MtYmxvY2stZ3JpZF9fcHJvZHVjdHMgLndjLWJsb2NrLWdyaWRfX3Byb2R1Y3QgLndjLWJsb2NrLWNvbXBvbmVudHMtcHJvZHVjdC1zYWxlLWJhZGdlLndjLWJsb2NrLWNvbXBvbmVudHMtcHJvZHVjdC1zYWxlLWJhZGdlLS1hbGlnbi1sZWZ0OmFmdGVyIHtcbiAgICBjb250ZW50OiBcIlwiO1xuICAgIHdpZHRoOiAwO1xuICAgIGhlaWdodDogMDtcbiAgICB0b3A6IDByZW07XG4gICAgYm9yZGVyLWxlZnQ6IDFyZW0gc29saWQgdmFyKC0td2Mtc2FsZS1iYWNrZ3JvdW5kMSk7XG4gICAgYm9yZGVyLXRvcDogMXJlbSBzb2xpZCB0cmFuc3BhcmVudDtcbiAgICBib3JkZXItYm90dG9tOiAxcmVtIHNvbGlkIHRyYW5zcGFyZW50O1xuICAgIHBvc2l0aW9uOiBhYnNvbHV0ZTtcbiAgICBtYXJnaW4tbGVmdDogLjVyZW07IH1cblxuLndjLWJsb2NrLWdyaWRfX3Byb2R1Y3RzIC53Yy1ibG9jay1ncmlkX19wcm9kdWN0IC53Yy1ibG9jay1jb21wb25lbnRzLXByb2R1Y3Qtc2FsZS1iYWRnZS53Yy1ibG9jay1jb21wb25lbnRzLXByb2R1Y3Qtc2FsZS1iYWRnZS0tYWxpZ24tcmlnaHQge1xuICBwb3NpdGlvbjogYWJzb2x1dGU7XG4gIHRvcDogMDtcbiAgbGVmdDogYXV0bztcbiAgcmlnaHQ6IDA7XG4gIHBhZGRpbmc6IDAgMXJlbSAwIC41cmVtO1xuICBtYXJnaW46IC02cHggLS41cmVtIDAgMDtcbiAgYmFja2dyb3VuZDogbGluZWFyLWdyYWRpZW50KHRvIGxlZnQsIHZhcigtLXdjLXNhbGUtYmFja2dyb3VuZDIpIDAlLCB2YXIoLS13Yy1zYWxlLWJhY2tncm91bmQxKSAxMDAlKTsgfVxuICAud2MtYmxvY2stZ3JpZF9fcHJvZHVjdHMgLndjLWJsb2NrLWdyaWRfX3Byb2R1Y3QgLndjLWJsb2NrLWNvbXBvbmVudHMtcHJvZHVjdC1zYWxlLWJhZGdlLndjLWJsb2NrLWNvbXBvbmVudHMtcHJvZHVjdC1zYWxlLWJhZGdlLS1hbGlnbi1yaWdodDpiZWZvcmUge1xuICAgIGNvbnRlbnQ6IFwiXCI7XG4gICAgd2lkdGg6IDA7XG4gICAgaGVpZ2h0OiAwO1xuICAgIHRvcDogMHJlbTtcbiAgICBib3JkZXItcmlnaHQ6IDFyZW0gc29saWQgdmFyKC0td2Mtc2FsZS1iYWNrZ3JvdW5kMSk7XG4gICAgYm9yZGVyLXRvcDogMXJlbSBzb2xpZCB0cmFuc3BhcmVudDtcbiAgICBib3JkZXItYm90dG9tOiAxcmVtIHNvbGlkIHRyYW5zcGFyZW50O1xuICAgIHBvc2l0aW9uOiBhYnNvbHV0ZTtcbiAgICBtYXJnaW4tbGVmdDogLTEuNXJlbTsgfVxuXG4ud2MtYmxvY2stZ3JpZF9fcHJvZHVjdHMgLndjLWJsb2NrLWdyaWRfX3Byb2R1Y3QgLndjLWJsb2NrLWNvbXBvbmVudHMtcHJvZHVjdC1zYWxlLWJhZGdlLndjLWJsb2NrLWNvbXBvbmVudHMtcHJvZHVjdC1zYWxlLWJhZGdlLS1hbGlnbi1jZW50ZXIge1xuICBwb3NpdGlvbjogYWJzb2x1dGU7XG4gIHRvcDogMDtcbiAgbGVmdDogNTAlO1xuICByaWdodDogYXV0bztcbiAgdHJhbnNmb3JtOiB0cmFuc2xhdGVYKC01MCUpO1xuICBiYWNrZ3JvdW5kOiBsaW5lYXItZ3JhZGllbnQodG8gbGVmdCwgdmFyKC0td2Mtc2FsZS1iYWNrZ3JvdW5kMSkgMCUsIHZhcigtLXdjLXNhbGUtYmFja2dyb3VuZDIpIDUwJSwgdmFyKC0td2Mtc2FsZS1iYWNrZ3JvdW5kMSkgMTAwJSk7IH1cbiAgLndjLWJsb2NrLWdyaWRfX3Byb2R1Y3RzIC53Yy1ibG9jay1ncmlkX19wcm9kdWN0IC53Yy1ibG9jay1jb21wb25lbnRzLXByb2R1Y3Qtc2FsZS1iYWRnZS53Yy1ibG9jay1jb21wb25lbnRzLXByb2R1Y3Qtc2FsZS1iYWRnZS0tYWxpZ24tY2VudGVyOmJlZm9yZSB7XG4gICAgY29udGVudDogXCJcIjtcbiAgICB3aWR0aDogMDtcbiAgICBoZWlnaHQ6IDA7XG4gICAgdG9wOiAwcmVtO1xuICAgIGJvcmRlci1yaWdodDogMXJlbSBzb2xpZCB2YXIoLS13Yy1zYWxlLWJhY2tncm91bmQxKTtcbiAgICBib3JkZXItdG9wOiAxcmVtIHNvbGlkIHRyYW5zcGFyZW50O1xuICAgIGJvcmRlci1ib3R0b206IDFyZW0gc29saWQgdHJhbnNwYXJlbnQ7XG4gICAgcG9zaXRpb246IGFic29sdXRlO1xuICAgIG1hcmdpbi1sZWZ0OiAtMnJlbTsgfVxuICAud2MtYmxvY2stZ3JpZF9fcHJvZHVjdHMgLndjLWJsb2NrLWdyaWRfX3Byb2R1Y3QgLndjLWJsb2NrLWNvbXBvbmVudHMtcHJvZHVjdC1zYWxlLWJhZGdlLndjLWJsb2NrLWNvbXBvbmVudHMtcHJvZHVjdC1zYWxlLWJhZGdlLS1hbGlnbi1jZW50ZXI6YWZ0ZXIge1xuICAgIGNvbnRlbnQ6IFwiXCI7XG4gICAgd2lkdGg6IDA7XG4gICAgaGVpZ2h0OiAwO1xuICAgIHRvcDogMHJlbTtcbiAgICBib3JkZXItbGVmdDogMXJlbSBzb2xpZCB2YXIoLS13Yy1zYWxlLWJhY2tncm91bmQxKTtcbiAgICBib3JkZXItdG9wOiAxcmVtIHNvbGlkIHRyYW5zcGFyZW50O1xuICAgIGJvcmRlci1ib3R0b206IDFyZW0gc29saWQgdHJhbnNwYXJlbnQ7XG4gICAgcG9zaXRpb246IGFic29sdXRlO1xuICAgIG1hcmdpbi1sZWZ0OiAxcmVtOyB9XG4iXX0= */