.dfu-busacc h1 {
  font-size: 1.4375rem; }

.dfu-busacc h2 {
  font-size: 1.3125rem;
  color: #00a6b2; }

.dfu-busacc h3 {
  font-size: 1.1875rem; }

.dfu-busacc h4 {
  font-size: 1.0625rem; }

.dfu-busacc p {
  font-size: 0.9375rem; }

.dfu-busacc .theme-setup,
.dfu-busacc .theme-doc,
.dfu-busacc .theme-demo,
.dfu-busacc .theme-author {
  margin-top: 0.9375rem; }

.dfu-busacc .button.button-large {
  height: 40px;
  font-size: 0.9375rem; }

.dfu-busacc .form-table th {
  font-size: 0.9375rem; }

.dfu-busacc .form-table td {
  font-size: 0.9375rem; }
  .dfu-busacc .form-table td span.color-preview {
    height: 40px;
    width: 40px;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05); }
  .dfu-busacc .form-table td input {
    padding: 6px 12px;
    margin: 0;
    margin-left: -4px;
    height: 40px;
    border-radius: 0;
    vertical-align: middle;
    border: none;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
    font-size: 0.9375rem; }

.dfu-busacc .form-table .iris-picker {
  position: absolute;
  z-index: 100;
  display: none;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05); }

.dfu-busacc .palette {
  display: flex;
  flex-flow: row wrap;
  margin: .5rem; }
  .dfu-busacc .palette .chip {
    width: 140px;
    height: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 2px;
    word-break: break-all; }
    .dfu-busacc .palette .chip.dk {
      color: #fff; }
    .dfu-busacc .palette .chip.lt {
      color: #111; }

@media screen and (max-width: 782px) {
  .dfu-busacc .form-table td input {
    width: auto;
    display: inline-block; } }

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIi4uLy4uL2V4Y2wvY3NzL3RoZW1lLXN0eWxlLWZyb20tYWRtc2Fzcy5jc3MiXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IkFBQUE7RUFDRSxvQkFBb0IsRUFBRTs7QUFFeEI7RUFDRSxvQkFBb0I7RUFDcEIsY0FBYyxFQUFFOztBQUVsQjtFQUNFLG9CQUFvQixFQUFFOztBQUV4QjtFQUNFLG9CQUFvQixFQUFFOztBQUV4QjtFQUNFLG9CQUFvQixFQUFFOztBQUV4Qjs7OztFQUlFLHFCQUFxQixFQUFFOztBQUV6QjtFQUNFLFlBQVk7RUFDWixvQkFBb0IsRUFBRTs7QUFFeEI7RUFDRSxvQkFBb0IsRUFBRTs7QUFFeEI7RUFDRSxvQkFBb0IsRUFBRTtFQUN0QjtJQUNFLFlBQVk7SUFDWixXQUFXO0lBQ1gscUJBQXFCO0lBQ3JCLHNCQUFzQjtJQUN0QixlQUFlO0lBQ2YsMENBQTBDLEVBQUU7RUFDOUM7SUFDRSxpQkFBaUI7SUFDakIsU0FBUztJQUNULGlCQUFpQjtJQUNqQixZQUFZO0lBQ1osZ0JBQWdCO0lBQ2hCLHNCQUFzQjtJQUN0QixZQUFZO0lBQ1osMENBQTBDO0lBQzFDLG9CQUFvQixFQUFFOztBQUUxQjtFQUNFLGtCQUFrQjtFQUNsQixZQUFZO0VBQ1osYUFBYTtFQUNiLDBDQUEwQyxFQUFFOztBQUU5QztFQUNFLGFBQWE7RUFDYixtQkFBbUI7RUFDbkIsYUFBYSxFQUFFO0VBQ2Y7SUFDRSxZQUFZO0lBQ1osWUFBWTtJQUNaLG9CQUFvQjtJQUNwQixtQkFBbUI7SUFDbkIsdUJBQXVCO0lBQ3ZCLFdBQVc7SUFDWCxxQkFBcUIsRUFBRTtJQUN2QjtNQUNFLFdBQVcsRUFBRTtJQUNmO01BQ0UsV0FBVyxFQUFFOztBQUVuQjtFQUNFO0lBQ0UsV0FBVztJQUNYLHFCQUFxQixFQUFFLEVBQUUiLCJmaWxlIjoidGhlbWUtYWRtaW4uY3NzIiwic291cmNlc0NvbnRlbnQiOlsiLmRmdS1idXNhY2MgaDEge1xuICBmb250LXNpemU6IDEuNDM3NXJlbTsgfVxuXG4uZGZ1LWJ1c2FjYyBoMiB7XG4gIGZvbnQtc2l6ZTogMS4zMTI1cmVtO1xuICBjb2xvcjogIzAwYTZiMjsgfVxuXG4uZGZ1LWJ1c2FjYyBoMyB7XG4gIGZvbnQtc2l6ZTogMS4xODc1cmVtOyB9XG5cbi5kZnUtYnVzYWNjIGg0IHtcbiAgZm9udC1zaXplOiAxLjA2MjVyZW07IH1cblxuLmRmdS1idXNhY2MgcCB7XG4gIGZvbnQtc2l6ZTogMC45Mzc1cmVtOyB9XG5cbi5kZnUtYnVzYWNjIC50aGVtZS1zZXR1cCxcbi5kZnUtYnVzYWNjIC50aGVtZS1kb2MsXG4uZGZ1LWJ1c2FjYyAudGhlbWUtZGVtbyxcbi5kZnUtYnVzYWNjIC50aGVtZS1hdXRob3Ige1xuICBtYXJnaW4tdG9wOiAwLjkzNzVyZW07IH1cblxuLmRmdS1idXNhY2MgLmJ1dHRvbi5idXR0b24tbGFyZ2Uge1xuICBoZWlnaHQ6IDQwcHg7XG4gIGZvbnQtc2l6ZTogMC45Mzc1cmVtOyB9XG5cbi5kZnUtYnVzYWNjIC5mb3JtLXRhYmxlIHRoIHtcbiAgZm9udC1zaXplOiAwLjkzNzVyZW07IH1cblxuLmRmdS1idXNhY2MgLmZvcm0tdGFibGUgdGQge1xuICBmb250LXNpemU6IDAuOTM3NXJlbTsgfVxuICAuZGZ1LWJ1c2FjYyAuZm9ybS10YWJsZSB0ZCBzcGFuLmNvbG9yLXByZXZpZXcge1xuICAgIGhlaWdodDogNDBweDtcbiAgICB3aWR0aDogNDBweDtcbiAgICBkaXNwbGF5OiBpbmxpbmUtYmxvY2s7XG4gICAgdmVydGljYWwtYWxpZ246IG1pZGRsZTtcbiAgICBjdXJzb3I6IHBvaW50ZXI7XG4gICAgYm94LXNoYWRvdzogMCA1cHggMTBweCByZ2JhKDAsIDAsIDAsIDAuMDUpOyB9XG4gIC5kZnUtYnVzYWNjIC5mb3JtLXRhYmxlIHRkIGlucHV0IHtcbiAgICBwYWRkaW5nOiA2cHggMTJweDtcbiAgICBtYXJnaW46IDA7XG4gICAgbWFyZ2luLWxlZnQ6IC00cHg7XG4gICAgaGVpZ2h0OiA0MHB4O1xuICAgIGJvcmRlci1yYWRpdXM6IDA7XG4gICAgdmVydGljYWwtYWxpZ246IG1pZGRsZTtcbiAgICBib3JkZXI6IG5vbmU7XG4gICAgYm94LXNoYWRvdzogMCA1cHggMTBweCByZ2JhKDAsIDAsIDAsIDAuMDUpO1xuICAgIGZvbnQtc2l6ZTogMC45Mzc1cmVtOyB9XG5cbi5kZnUtYnVzYWNjIC5mb3JtLXRhYmxlIC5pcmlzLXBpY2tlciB7XG4gIHBvc2l0aW9uOiBhYnNvbHV0ZTtcbiAgei1pbmRleDogMTAwO1xuICBkaXNwbGF5OiBub25lO1xuICBib3gtc2hhZG93OiAwIDVweCAxMHB4IHJnYmEoMCwgMCwgMCwgMC4wNSk7IH1cblxuLmRmdS1idXNhY2MgLnBhbGV0dGUge1xuICBkaXNwbGF5OiBmbGV4O1xuICBmbGV4LWZsb3c6IHJvdyB3cmFwO1xuICBtYXJnaW46IC41cmVtOyB9XG4gIC5kZnUtYnVzYWNjIC5wYWxldHRlIC5jaGlwIHtcbiAgICB3aWR0aDogMTQwcHg7XG4gICAgaGVpZ2h0OiA1MHB4O1xuICAgIGRpc3BsYXk6IGlubGluZS1mbGV4O1xuICAgIGFsaWduLWl0ZW1zOiBjZW50ZXI7XG4gICAganVzdGlmeS1jb250ZW50OiBjZW50ZXI7XG4gICAgbWFyZ2luOiAycHg7XG4gICAgd29yZC1icmVhazogYnJlYWstYWxsOyB9XG4gICAgLmRmdS1idXNhY2MgLnBhbGV0dGUgLmNoaXAuZGsge1xuICAgICAgY29sb3I6ICNmZmY7IH1cbiAgICAuZGZ1LWJ1c2FjYyAucGFsZXR0ZSAuY2hpcC5sdCB7XG4gICAgICBjb2xvcjogIzExMTsgfVxuXG5AbWVkaWEgc2NyZWVuIGFuZCAobWF4LXdpZHRoOiA3ODJweCkge1xuICAuZGZ1LWJ1c2FjYyAuZm9ybS10YWJsZSB0ZCBpbnB1dCB7XG4gICAgd2lkdGg6IGF1dG87XG4gICAgZGlzcGxheTogaW5saW5lLWJsb2NrOyB9IH1cbiJdfQ== */