.wc-block-grid__product-onsale {
  background-color: var(--wc-sale-background1);
  background: linear-gradient(to bottom, var(--wc-sale-background1) 0%, var(--wc-sale-background2) 100%);
  text-align: center;
  text-transform: uppercase;
  padding: 0 1rem;
  width: 5rem;
  height: 2rem;
  line-height: 2rem;
  color: var(--wc-sale-text);
  font-weight: 500;
  font-size: .8rem;
  box-shadow: var(--shadow-light);
  z-index: 9;
  border-radius: 0;
  border: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center; }

.wc-block-grid__products .wc-block-grid__product .wc-block-components-product-sale-badge:before {
  content: "";
  width: 0;
  height: 0; }

.wc-block-grid__products .wc-block-grid__product .wc-block-components-product-sale-badge:after {
  content: "";
  width: 0;
  height: 0; }

.wc-block-grid__products .wc-block-grid__product .wc-block-components-product-sale-badge.wc-block-components-product-sale-badge--align-left {
  position: absolute;
  top: 0;
  margin: -6px 0 0 -.5rem;
  left: 0;
  right: auto; }
  .wc-block-grid__products .wc-block-grid__product .wc-block-components-product-sale-badge.wc-block-components-product-sale-badge--align-left:before {
    top: 2rem;
    left: 0;
    border-left: 2.5rem solid transparent;
    border-right: 2.5rem solid transparent;
    border-top: 1rem solid var(--wc-sale-background2);
    position: absolute; }
  .wc-block-grid__products .wc-block-grid__product .wc-block-components-product-sale-badge.wc-block-components-product-sale-badge--align-left:after {
    top: 0;
    left: 5rem;
    border-top: .5rem solid transparent;
    border-left: 3px solid var(--wc-sale-background2);
    position: absolute; }

.wc-block-grid__products .wc-block-grid__product .wc-block-components-product-sale-badge.wc-block-components-product-sale-badge--align-right {
  position: absolute;
  top: 0;
  margin: -6px 0 0 -.5rem;
  left: auto;
  right: 0; }
  .wc-block-grid__products .wc-block-grid__product .wc-block-components-product-sale-badge.wc-block-components-product-sale-badge--align-right:before {
    top: 0;
    right: 5rem;
    border-top: .5rem solid transparent;
    border-right: 3px solid var(--wc-sale-background2);
    position: absolute; }
  .wc-block-grid__products .wc-block-grid__product .wc-block-components-product-sale-badge.wc-block-components-product-sale-badge--align-right:after {
    top: 2rem;
    left: 0;
    border-left: 2.5rem solid transparent;
    border-right: 2.5rem solid transparent;
    border-top: 1rem solid var(--wc-sale-background2);
    position: absolute; }

.wc-block-grid__products .wc-block-grid__product .wc-block-components-product-sale-badge.wc-block-components-product-sale-badge--align-center {
  position: absolute;
  top: 0;
  margin: -6px 0 0 -.5rem;
  left: 50%;
  right: auto;
  transform: translateX(-50%); }
  .wc-block-grid__products .wc-block-grid__product .wc-block-components-product-sale-badge.wc-block-components-product-sale-badge--align-center:before {
    top: 2rem;
    left: 0;
    border-left: 2.5rem solid transparent;
    border-right: 2.5rem solid transparent;
    border-top: 1rem solid var(--wc-sale-background2);
    position: absolute; }
  .wc-block-grid__products .wc-block-grid__product .wc-block-components-product-sale-badge.wc-block-components-product-sale-badge--align-center:after {
    top: 0;
    left: 5rem;
    border-top: .5rem solid transparent;
    border-left: 3px solid var(--wc-sale-background2);
    position: absolute; }

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIi4uLy4uL2V4Y2wvY3NzL3RoZW1lLXdjLXNhbGUzLXNhc3MuY3NzIl0sIm5hbWVzIjpbXSwibWFwcGluZ3MiOiJBQUFBO0VBQ0UsNENBQTRDO0VBQzVDLHNHQUFzRztFQUN0RyxrQkFBa0I7RUFDbEIseUJBQXlCO0VBQ3pCLGVBQWU7RUFDZixXQUFXO0VBQ1gsWUFBWTtFQUNaLGlCQUFpQjtFQUNqQiwwQkFBMEI7RUFDMUIsZ0JBQWdCO0VBQ2hCLGdCQUFnQjtFQUNoQiwrQkFBK0I7RUFDL0IsVUFBVTtFQUNWLGdCQUFnQjtFQUNoQixTQUFTO0VBQ1Qsb0JBQW9CO0VBQ3BCLG1CQUFtQjtFQUNuQix1QkFBdUIsRUFBRTs7QUFFM0I7RUFDRSxXQUFXO0VBQ1gsUUFBUTtFQUNSLFNBQVMsRUFBRTs7QUFFYjtFQUNFLFdBQVc7RUFDWCxRQUFRO0VBQ1IsU0FBUyxFQUFFOztBQUViO0VBQ0Usa0JBQWtCO0VBQ2xCLE1BQU07RUFDTix1QkFBdUI7RUFDdkIsT0FBTztFQUNQLFdBQVcsRUFBRTtFQUNiO0lBQ0UsU0FBUztJQUNULE9BQU87SUFDUCxxQ0FBcUM7SUFDckMsc0NBQXNDO0lBQ3RDLGlEQUFpRDtJQUNqRCxrQkFBa0IsRUFBRTtFQUN0QjtJQUNFLE1BQU07SUFDTixVQUFVO0lBQ1YsbUNBQW1DO0lBQ25DLGlEQUFpRDtJQUNqRCxrQkFBa0IsRUFBRTs7QUFFeEI7RUFDRSxrQkFBa0I7RUFDbEIsTUFBTTtFQUNOLHVCQUF1QjtFQUN2QixVQUFVO0VBQ1YsUUFBUSxFQUFFO0VBQ1Y7SUFDRSxNQUFNO0lBQ04sV0FBVztJQUNYLG1DQUFtQztJQUNuQyxrREFBa0Q7SUFDbEQsa0JBQWtCLEVBQUU7RUFDdEI7SUFDRSxTQUFTO0lBQ1QsT0FBTztJQUNQLHFDQUFxQztJQUNyQyxzQ0FBc0M7SUFDdEMsaURBQWlEO0lBQ2pELGtCQUFrQixFQUFFOztBQUV4QjtFQUNFLGtCQUFrQjtFQUNsQixNQUFNO0VBQ04sdUJBQXVCO0VBQ3ZCLFNBQVM7RUFDVCxXQUFXO0VBQ1gsMkJBQTJCLEVBQUU7RUFDN0I7SUFDRSxTQUFTO0lBQ1QsT0FBTztJQUNQLHFDQUFxQztJQUNyQyxzQ0FBc0M7SUFDdEMsaURBQWlEO0lBQ2pELGtCQUFrQixFQUFFO0VBQ3RCO0lBQ0UsTUFBTTtJQUNOLFVBQVU7SUFDVixtQ0FBbUM7SUFDbkMsaURBQWlEO0lBQ2pELGtCQUFrQixFQUFFIiwiZmlsZSI6InRoZW1lLXdjLXNhbGUzLmNzcyIsInNvdXJjZXNDb250ZW50IjpbIi53Yy1ibG9jay1ncmlkX19wcm9kdWN0LW9uc2FsZSB7XG4gIGJhY2tncm91bmQtY29sb3I6IHZhcigtLXdjLXNhbGUtYmFja2dyb3VuZDEpO1xuICBiYWNrZ3JvdW5kOiBsaW5lYXItZ3JhZGllbnQodG8gYm90dG9tLCB2YXIoLS13Yy1zYWxlLWJhY2tncm91bmQxKSAwJSwgdmFyKC0td2Mtc2FsZS1iYWNrZ3JvdW5kMikgMTAwJSk7XG4gIHRleHQtYWxpZ246IGNlbnRlcjtcbiAgdGV4dC10cmFuc2Zvcm06IHVwcGVyY2FzZTtcbiAgcGFkZGluZzogMCAxcmVtO1xuICB3aWR0aDogNXJlbTtcbiAgaGVpZ2h0OiAycmVtO1xuICBsaW5lLWhlaWdodDogMnJlbTtcbiAgY29sb3I6IHZhcigtLXdjLXNhbGUtdGV4dCk7XG4gIGZvbnQtd2VpZ2h0OiA1MDA7XG4gIGZvbnQtc2l6ZTogLjhyZW07XG4gIGJveC1zaGFkb3c6IHZhcigtLXNoYWRvdy1saWdodCk7XG4gIHotaW5kZXg6IDk7XG4gIGJvcmRlci1yYWRpdXM6IDA7XG4gIGJvcmRlcjogMDtcbiAgZGlzcGxheTogaW5saW5lLWZsZXg7XG4gIGFsaWduLWl0ZW1zOiBjZW50ZXI7XG4gIGp1c3RpZnktY29udGVudDogY2VudGVyOyB9XG5cbi53Yy1ibG9jay1ncmlkX19wcm9kdWN0cyAud2MtYmxvY2stZ3JpZF9fcHJvZHVjdCAud2MtYmxvY2stY29tcG9uZW50cy1wcm9kdWN0LXNhbGUtYmFkZ2U6YmVmb3JlIHtcbiAgY29udGVudDogXCJcIjtcbiAgd2lkdGg6IDA7XG4gIGhlaWdodDogMDsgfVxuXG4ud2MtYmxvY2stZ3JpZF9fcHJvZHVjdHMgLndjLWJsb2NrLWdyaWRfX3Byb2R1Y3QgLndjLWJsb2NrLWNvbXBvbmVudHMtcHJvZHVjdC1zYWxlLWJhZGdlOmFmdGVyIHtcbiAgY29udGVudDogXCJcIjtcbiAgd2lkdGg6IDA7XG4gIGhlaWdodDogMDsgfVxuXG4ud2MtYmxvY2stZ3JpZF9fcHJvZHVjdHMgLndjLWJsb2NrLWdyaWRfX3Byb2R1Y3QgLndjLWJsb2NrLWNvbXBvbmVudHMtcHJvZHVjdC1zYWxlLWJhZGdlLndjLWJsb2NrLWNvbXBvbmVudHMtcHJvZHVjdC1zYWxlLWJhZGdlLS1hbGlnbi1sZWZ0IHtcbiAgcG9zaXRpb246IGFic29sdXRlO1xuICB0b3A6IDA7XG4gIG1hcmdpbjogLTZweCAwIDAgLS41cmVtO1xuICBsZWZ0OiAwO1xuICByaWdodDogYXV0bzsgfVxuICAud2MtYmxvY2stZ3JpZF9fcHJvZHVjdHMgLndjLWJsb2NrLWdyaWRfX3Byb2R1Y3QgLndjLWJsb2NrLWNvbXBvbmVudHMtcHJvZHVjdC1zYWxlLWJhZGdlLndjLWJsb2NrLWNvbXBvbmVudHMtcHJvZHVjdC1zYWxlLWJhZGdlLS1hbGlnbi1sZWZ0OmJlZm9yZSB7XG4gICAgdG9wOiAycmVtO1xuICAgIGxlZnQ6IDA7XG4gICAgYm9yZGVyLWxlZnQ6IDIuNXJlbSBzb2xpZCB0cmFuc3BhcmVudDtcbiAgICBib3JkZXItcmlnaHQ6IDIuNXJlbSBzb2xpZCB0cmFuc3BhcmVudDtcbiAgICBib3JkZXItdG9wOiAxcmVtIHNvbGlkIHZhcigtLXdjLXNhbGUtYmFja2dyb3VuZDIpO1xuICAgIHBvc2l0aW9uOiBhYnNvbHV0ZTsgfVxuICAud2MtYmxvY2stZ3JpZF9fcHJvZHVjdHMgLndjLWJsb2NrLWdyaWRfX3Byb2R1Y3QgLndjLWJsb2NrLWNvbXBvbmVudHMtcHJvZHVjdC1zYWxlLWJhZGdlLndjLWJsb2NrLWNvbXBvbmVudHMtcHJvZHVjdC1zYWxlLWJhZGdlLS1hbGlnbi1sZWZ0OmFmdGVyIHtcbiAgICB0b3A6IDA7XG4gICAgbGVmdDogNXJlbTtcbiAgICBib3JkZXItdG9wOiAuNXJlbSBzb2xpZCB0cmFuc3BhcmVudDtcbiAgICBib3JkZXItbGVmdDogM3B4IHNvbGlkIHZhcigtLXdjLXNhbGUtYmFja2dyb3VuZDIpO1xuICAgIHBvc2l0aW9uOiBhYnNvbHV0ZTsgfVxuXG4ud2MtYmxvY2stZ3JpZF9fcHJvZHVjdHMgLndjLWJsb2NrLWdyaWRfX3Byb2R1Y3QgLndjLWJsb2NrLWNvbXBvbmVudHMtcHJvZHVjdC1zYWxlLWJhZGdlLndjLWJsb2NrLWNvbXBvbmVudHMtcHJvZHVjdC1zYWxlLWJhZGdlLS1hbGlnbi1yaWdodCB7XG4gIHBvc2l0aW9uOiBhYnNvbHV0ZTtcbiAgdG9wOiAwO1xuICBtYXJnaW46IC02cHggMCAwIC0uNXJlbTtcbiAgbGVmdDogYXV0bztcbiAgcmlnaHQ6IDA7IH1cbiAgLndjLWJsb2NrLWdyaWRfX3Byb2R1Y3RzIC53Yy1ibG9jay1ncmlkX19wcm9kdWN0IC53Yy1ibG9jay1jb21wb25lbnRzLXByb2R1Y3Qtc2FsZS1iYWRnZS53Yy1ibG9jay1jb21wb25lbnRzLXByb2R1Y3Qtc2FsZS1iYWRnZS0tYWxpZ24tcmlnaHQ6YmVmb3JlIHtcbiAgICB0b3A6IDA7XG4gICAgcmlnaHQ6IDVyZW07XG4gICAgYm9yZGVyLXRvcDogLjVyZW0gc29saWQgdHJhbnNwYXJlbnQ7XG4gICAgYm9yZGVyLXJpZ2h0OiAzcHggc29saWQgdmFyKC0td2Mtc2FsZS1iYWNrZ3JvdW5kMik7XG4gICAgcG9zaXRpb246IGFic29sdXRlOyB9XG4gIC53Yy1ibG9jay1ncmlkX19wcm9kdWN0cyAud2MtYmxvY2stZ3JpZF9fcHJvZHVjdCAud2MtYmxvY2stY29tcG9uZW50cy1wcm9kdWN0LXNhbGUtYmFkZ2Uud2MtYmxvY2stY29tcG9uZW50cy1wcm9kdWN0LXNhbGUtYmFkZ2UtLWFsaWduLXJpZ2h0OmFmdGVyIHtcbiAgICB0b3A6IDJyZW07XG4gICAgbGVmdDogMDtcbiAgICBib3JkZXItbGVmdDogMi41cmVtIHNvbGlkIHRyYW5zcGFyZW50O1xuICAgIGJvcmRlci1yaWdodDogMi41cmVtIHNvbGlkIHRyYW5zcGFyZW50O1xuICAgIGJvcmRlci10b3A6IDFyZW0gc29saWQgdmFyKC0td2Mtc2FsZS1iYWNrZ3JvdW5kMik7XG4gICAgcG9zaXRpb246IGFic29sdXRlOyB9XG5cbi53Yy1ibG9jay1ncmlkX19wcm9kdWN0cyAud2MtYmxvY2stZ3JpZF9fcHJvZHVjdCAud2MtYmxvY2stY29tcG9uZW50cy1wcm9kdWN0LXNhbGUtYmFkZ2Uud2MtYmxvY2stY29tcG9uZW50cy1wcm9kdWN0LXNhbGUtYmFkZ2UtLWFsaWduLWNlbnRlciB7XG4gIHBvc2l0aW9uOiBhYnNvbHV0ZTtcbiAgdG9wOiAwO1xuICBtYXJnaW46IC02cHggMCAwIC0uNXJlbTtcbiAgbGVmdDogNTAlO1xuICByaWdodDogYXV0bztcbiAgdHJhbnNmb3JtOiB0cmFuc2xhdGVYKC01MCUpOyB9XG4gIC53Yy1ibG9jay1ncmlkX19wcm9kdWN0cyAud2MtYmxvY2stZ3JpZF9fcHJvZHVjdCAud2MtYmxvY2stY29tcG9uZW50cy1wcm9kdWN0LXNhbGUtYmFkZ2Uud2MtYmxvY2stY29tcG9uZW50cy1wcm9kdWN0LXNhbGUtYmFkZ2UtLWFsaWduLWNlbnRlcjpiZWZvcmUge1xuICAgIHRvcDogMnJlbTtcbiAgICBsZWZ0OiAwO1xuICAgIGJvcmRlci1sZWZ0OiAyLjVyZW0gc29saWQgdHJhbnNwYXJlbnQ7XG4gICAgYm9yZGVyLXJpZ2h0OiAyLjVyZW0gc29saWQgdHJhbnNwYXJlbnQ7XG4gICAgYm9yZGVyLXRvcDogMXJlbSBzb2xpZCB2YXIoLS13Yy1zYWxlLWJhY2tncm91bmQyKTtcbiAgICBwb3NpdGlvbjogYWJzb2x1dGU7IH1cbiAgLndjLWJsb2NrLWdyaWRfX3Byb2R1Y3RzIC53Yy1ibG9jay1ncmlkX19wcm9kdWN0IC53Yy1ibG9jay1jb21wb25lbnRzLXByb2R1Y3Qtc2FsZS1iYWRnZS53Yy1ibG9jay1jb21wb25lbnRzLXByb2R1Y3Qtc2FsZS1iYWRnZS0tYWxpZ24tY2VudGVyOmFmdGVyIHtcbiAgICB0b3A6IDA7XG4gICAgbGVmdDogNXJlbTtcbiAgICBib3JkZXItdG9wOiAuNXJlbSBzb2xpZCB0cmFuc3BhcmVudDtcbiAgICBib3JkZXItbGVmdDogM3B4IHNvbGlkIHZhcigtLXdjLXNhbGUtYmFja2dyb3VuZDIpO1xuICAgIHBvc2l0aW9uOiBhYnNvbHV0ZTsgfVxuIl19 */