.wc-block-grid__product-onsale {
  text-align: center;
  text-transform: uppercase;
  color: var(--wc-sale-text);
  font-weight: 500;
  font-size: .8rem;
  box-shadow: var(--shadow-light);
  z-index: 9;
  padding: 0 1rem;
  line-height: 3.25rem;
  min-height: 3.25rem;
  min-width: 3.25rem;
  display: inline-flex;
  align-items: center;
  justify-content: center; }

.wc-block-grid__products .wc-block-grid__product .wc-block-components-product-sale-badge.wc-block-components-product-sale-badge--align-left {
  position: absolute;
  top: -4px;
  left: -4px;
  right: auto;
  margin: 0; }

.wc-block-grid__products .wc-block-grid__product .wc-block-components-product-sale-badge.wc-block-components-product-sale-badge--align-right {
  position: absolute;
  top: -4px;
  left: auto;
  right: -4px;
  margin: 0; }

.wc-block-grid__products .wc-block-grid__product .wc-block-components-product-sale-badge.wc-block-components-product-sale-badge--align-center {
  position: absolute;
  top: -4px;
  left: 50%;
  right: auto;
  transform: translateX(-50%);
  margin: 0; }

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIi4uLy4uL2V4Y2wvY3NzL3RoZW1lLXdjLXNhbGUwLXNhc3MuY3NzIl0sIm5hbWVzIjpbXSwibWFwcGluZ3MiOiJBQUFBO0VBQ0Usa0JBQWtCO0VBQ2xCLHlCQUF5QjtFQUN6QiwwQkFBMEI7RUFDMUIsZ0JBQWdCO0VBQ2hCLGdCQUFnQjtFQUNoQiwrQkFBK0I7RUFDL0IsVUFBVTtFQUNWLGVBQWU7RUFDZixvQkFBb0I7RUFDcEIsbUJBQW1CO0VBQ25CLGtCQUFrQjtFQUNsQixvQkFBb0I7RUFDcEIsbUJBQW1CO0VBQ25CLHVCQUF1QixFQUFFOztBQUUzQjtFQUNFLGtCQUFrQjtFQUNsQixTQUFTO0VBQ1QsVUFBVTtFQUNWLFdBQVc7RUFDWCxTQUFTLEVBQUU7O0FBRWI7RUFDRSxrQkFBa0I7RUFDbEIsU0FBUztFQUNULFVBQVU7RUFDVixXQUFXO0VBQ1gsU0FBUyxFQUFFOztBQUViO0VBQ0Usa0JBQWtCO0VBQ2xCLFNBQVM7RUFDVCxTQUFTO0VBQ1QsV0FBVztFQUNYLDJCQUEyQjtFQUMzQixTQUFTLEVBQUUiLCJmaWxlIjoidGhlbWUtd2Mtc2FsZTAuY3NzIiwic291cmNlc0NvbnRlbnQiOlsiLndjLWJsb2NrLWdyaWRfX3Byb2R1Y3Qtb25zYWxlIHtcbiAgdGV4dC1hbGlnbjogY2VudGVyO1xuICB0ZXh0LXRyYW5zZm9ybTogdXBwZXJjYXNlO1xuICBjb2xvcjogdmFyKC0td2Mtc2FsZS10ZXh0KTtcbiAgZm9udC13ZWlnaHQ6IDUwMDtcbiAgZm9udC1zaXplOiAuOHJlbTtcbiAgYm94LXNoYWRvdzogdmFyKC0tc2hhZG93LWxpZ2h0KTtcbiAgei1pbmRleDogOTtcbiAgcGFkZGluZzogMCAxcmVtO1xuICBsaW5lLWhlaWdodDogMy4yNXJlbTtcbiAgbWluLWhlaWdodDogMy4yNXJlbTtcbiAgbWluLXdpZHRoOiAzLjI1cmVtO1xuICBkaXNwbGF5OiBpbmxpbmUtZmxleDtcbiAgYWxpZ24taXRlbXM6IGNlbnRlcjtcbiAganVzdGlmeS1jb250ZW50OiBjZW50ZXI7IH1cblxuLndjLWJsb2NrLWdyaWRfX3Byb2R1Y3RzIC53Yy1ibG9jay1ncmlkX19wcm9kdWN0IC53Yy1ibG9jay1jb21wb25lbnRzLXByb2R1Y3Qtc2FsZS1iYWRnZS53Yy1ibG9jay1jb21wb25lbnRzLXByb2R1Y3Qtc2FsZS1iYWRnZS0tYWxpZ24tbGVmdCB7XG4gIHBvc2l0aW9uOiBhYnNvbHV0ZTtcbiAgdG9wOiAtNHB4O1xuICBsZWZ0OiAtNHB4O1xuICByaWdodDogYXV0bztcbiAgbWFyZ2luOiAwOyB9XG5cbi53Yy1ibG9jay1ncmlkX19wcm9kdWN0cyAud2MtYmxvY2stZ3JpZF9fcHJvZHVjdCAud2MtYmxvY2stY29tcG9uZW50cy1wcm9kdWN0LXNhbGUtYmFkZ2Uud2MtYmxvY2stY29tcG9uZW50cy1wcm9kdWN0LXNhbGUtYmFkZ2UtLWFsaWduLXJpZ2h0IHtcbiAgcG9zaXRpb246IGFic29sdXRlO1xuICB0b3A6IC00cHg7XG4gIGxlZnQ6IGF1dG87XG4gIHJpZ2h0OiAtNHB4O1xuICBtYXJnaW46IDA7IH1cblxuLndjLWJsb2NrLWdyaWRfX3Byb2R1Y3RzIC53Yy1ibG9jay1ncmlkX19wcm9kdWN0IC53Yy1ibG9jay1jb21wb25lbnRzLXByb2R1Y3Qtc2FsZS1iYWRnZS53Yy1ibG9jay1jb21wb25lbnRzLXByb2R1Y3Qtc2FsZS1iYWRnZS0tYWxpZ24tY2VudGVyIHtcbiAgcG9zaXRpb246IGFic29sdXRlO1xuICB0b3A6IC00cHg7XG4gIGxlZnQ6IDUwJTtcbiAgcmlnaHQ6IGF1dG87XG4gIHRyYW5zZm9ybTogdHJhbnNsYXRlWCgtNTAlKTtcbiAgbWFyZ2luOiAwOyB9XG4iXX0= */