/**
 * Elasta Styling
*/

@media screen and (max-width:1310px) {
  .header-right-btn {
    display: none;
  }
  .header-icon-links {
    padding: 18px 80px 18px 0;
  }
  .header-style-nine .header-right-btn {
    display: inline-block;
    padding: 20px 0 15px 30px;
  }  
  .header-style-ten .header-icon-links {
    padding-right: 0;
  }
  .header-style-three.elst-header {
    padding: 0 25px;
  }
  .header-style-three .elst-navigation > ul > li > a {
    display: inline-block;
    padding: 31px 15px;
  }
}

@media screen and (min-width:1270px) {
  /* Elasta Normal CSS */
  .container {
    max-width: 1170px;
  }
}

@media screen and (max-width:1199px) {
  .elst-no-text-logo .elst-header-left,
  .elst-no-site-tagline .elst-header-left {
    min-width: 100%;
    min-height: 60px;
  }
  .elst-has-text-logo .elst-header-left,
  .elst-has-site-tagline .elst-header-left {
    min-height: 0;
  }
  .elst-header .elst-navigation {
    display: none !important;
  }
  .sticky-wrapper {
    min-height: 83px;
  }
  .elst-header {
    padding: 20px 50px;
    position: relative;
  }
  .elst-header.header-style-nine {
    padding: 0 50px;
  }
  .elst-header .container {
    position: relative;
  }
  .elst-brand {
    padding: 20px 0 !important;
  }
  .elst-header.header-style-eight .elst-brand.has-logo {
    padding: 43px 20px 43px 10px !important;
  }
  .header-style-nine.elst-has-text-logo.elst-has-site-tagline .elst-brand.has-logo {
    padding: 20px !important;
  }
  .elst-header-left {
    margin-top: 10px;
    position: static;
  }
  .header-links-wrap {
    margin: 0px;
  }
  .elst-header .elst-navigation {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    width: 100%;
    height: 250px;
    padding: 0 50px 25px;
    margin: 0 auto;
    background: #f2f2f2;
    overflow: auto;
    -webkit-box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
    z-index: 2;
  }
  .elst-header .elst-navigation > ul {
    display: block;
  }
  .elst-header .elst-navigation > ul > li {
    float: none;
  }
  .elst-header .elst-navigation > ul > li > a {
    display: block;
    padding: 12px 0;
    border-bottom: 1px solid #dddddd;
  }
  .elst-header .elst-navigation > ul > li.has-dropdown > a:after,
  .elst-header .elst-navigation > ul > li.active .nav-dots,
  .dropdown-nav:before {
    display: none;
  }
  .elst-header .elst-navigation .dropdown-nav {
    display: none;
    position: static;
    min-width: 100%;
    padding: 0 0 0 20px;
    background: transparent;
    opacity: 1;
    visibility: visible;
    -webkit-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
  }
  .elst-header .elst-navigation .dropdown-nav li a {
    padding: 12px 0;
    border-bottom: 1px solid #dddddd;
  }
  /* Elasta News Page CSS */
  .news-meta [class*="col-"] {
    width: 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .news-meta .text-right {
    text-align: left !important;
  }
  .elst-share-link {
    margin: 0 0 15px;
  }
  .elst-share-link.elst-hover .elst-social {
    left: 45px;
    padding-left: 4px;
  }
  .elst-share-link .elst-social {
    left: 0;
    right: auto;
  }
  .blockquote-style-two {
    padding: 50px 50px 40px;
  }
  .mid-spacer-two {
    padding-bottom: 100px;
  }
  .header-style-six .elst-header-left {
    margin-top: 0;
  }
  .header-style-six .mean-container .mean-nav {
    margin-top: 71px;
  }
  .header-style-three .col-md-3 {
    display: none;
  }
  .header-style-three .col-md-4,
  .header-style-three .col-md-5 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    width: 100%;
  }
  .header-style-three .mean-container a.meanmenu-reveal {
    top: -46px;
  }
  .header-style-three .mean-container .mean-nav {
    margin-top: 30px;
  }
  .header-style-five .col-md-4 {
    display: none;
  }
  .header-style-five .col-md-3,
  .header-style-five .col-md-5 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    width: 100%;
  }
  .header-style-five .mean-container a.meanmenu-reveal {
    top: -49px;
  }
  .header-style-five .mean-container .mean-nav {
    margin-top: 30px;
  }
  .elst-header-scodes {
    padding: 0 0 0 30px;
  }
  .elst-search-wrap {
    padding-top: 0;
  }
  .elst-header-scodes .elst-social {
    padding: 20px 0;
  }
  .elst-full-wrap .elst-social {
    padding: 0 33px;
  }
  .header-style-seven .col-md-6 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .header-style-seven .mean-container a.meanmenu-reveal {
    top: -16px;
  }
  .header-style-seven .mean-container .mean-nav {
    margin-top: 56px;
  }
  .elst-topbar.header-style-seven .elst-brand.has-logo {
    padding: 0 0 10px !important;
  }
  .header-style-eight .mean-container a.meanmenu-reveal {
    top: 30px;
  }
  .header-style-eight .mean-container .mean-nav {
    margin-top: 108px;
  }
  .header-style-nine .mean-container a.meanmenu-reveal {
    top: 32px;
  }
  .header-style-nine .mean-container .mean-nav {
    margin-top: 101px;
  }
  .elst-header-wraper .col-md-9, .elst-header-wraper .col-md-3 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .header-style-nine .header-right-btn {
    display: inline-block;
    padding: 20px 80px 15px 0;
  }
  .elst-news-item.news-four .order-2 {
    -ms-flex-order: 2;
    order: 1;
  }
  .blog-style-four .elst-post-wrap > .row > [class*="col-"] {
    padding: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .news-five a.elst-news-link,
  .news-five .elst-news-cats {
    font-size: 16px;
  }
  .news-five .elst-news-meta h3 {
    font-size: 18px;
  }
}

@media screen and (max-width:991px) {
  .elst-primary {
    float: none;
    width: 100%;
  }
  .left-sidebar .elst-primary {
    float: none;
  }
  .elst-secondary {
    float: none;
    width: 100%;
    padding-top: 80px;
  }
  .left-sidebar .elst-primary {
    -ms-flex-order: 1;
    order: 1;
  }
  .left-sidebar .elst-secondary {
    -ms-flex-order: 2;
    order: 2;
  }
  .elst-brand.hav-mobile-logo img.desk-logo {
    display: none;
  }
  .elst-brand img.mobile-logo {
    display: inline-block;
  }
  .hav-mobile-logo h1.elst-text-logo,
  .hav-mobile-logo h2.elst-site-tagline {
    display: none;
  }
  .elst-header.header-style-eight .elst-brand.has-logo,
  .elst-header.header-style-eight .header-links-wrap {
    border: none;
  }

  /* Elasta 404 Error Page CSS */
  .elst-error {
    padding: 100px 0;
  }
  .elst-error h1 {
    font-size: 150px;
    line-height: 160px;
  }
  .elst-page-title.title-style-three h2:before {
    content: none;
  }
  .elst-page-title.title-style-seventeen .breadcrumb-trail {
    text-align: left;
    padding: 15px 0 0;
  }
  .elst-topbar,
  .elst-copyright,
  .elst-footer-top {
    text-align: center;
  }
  .elst-topbar .aligncenter,
  .elst-copyright .aligncenter,
  .elst-footer-top .aligncenter {
    padding: 15px 0;
  }
  .elst-topbar .alignright,
  .elst-copyright .alignright,
  .elst-footer-top .alignright {
    text-align: center;
    float: none;
  }
  .footer-style-five .col-lg-4.alignright {
    float: none;
    text-align: left;
  }
  .footer-style-five .empty {
    display: none;
  }
  .footer-style-five .footer-widget ul li {
    padding-right: 15px;
    padding-left: 0;
  }
  .elst-news-meta h3 {
    font-size: 20px;
  }
  a.elst-news-link,
  .elst-news-info-content,
  .elst-news-cats {
    font-size: 16px;
  }
}

@media screen and (max-width:782px) {
  .admin-bar .is-sticky .elst-header {
    top: 46px !important;
  }
}

@media screen and (max-width:600px) {
  .admin-bar .is-sticky .elst-header {
    top: 0 !important;
  }
}

@media screen and (max-width:767px) {
  /* Elasta Normal CSS */
  h1,
  .h1 {
    font-size: 32px;
  }
  h2,
  .h2 {
    font-size: 28px;
  }
  h3,
  .h3 {
    font-size: 26px;
  }
  p {
    padding-bottom: 10px;
  }
  blockquote {
    padding: 25px 15px;
    margin: 10px 0 15px;
    text-align: center;
  }
  blockquote:before {
    padding-bottom: 25px;
  }
  blockquote p {
    padding-bottom: 5px;
    font-size: 18px;
    line-height: 26px;
  }
  blockquote cite {
    font-size: 16px;
  }
  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="tel"],
  input[type="search"],
  input[type="date"],
  input[type="time"],
  input[type="datetime-local"],
  input[type="event-month"],
  input[type="url"],
  input[type="number"],
  textarea,
  select,
  .form-control {
    height: 45px;
  }
  form input,
  form textarea,
  form select {
    margin-bottom: 15px;
  }
  textarea,
  textarea.form-control {
    height: 120px;
  }
  .container {
    padding: 0 25px;
  }
  .elst-page-title[class*="title-style-"] h2,
  .elst-page-title h2 {
    font-size: 28px;
  }
  .elst-page-title h2:before, .elst-page-title h2:after {
    width: 21px;
    height: 25px;
    background-size: 21px auto;
    margin-left: 15px;
  }
  .elst-page-title h2:before {
    margin-right: 15px;
    margin-left: 0;
  }
  .elst-page-title ul.trail-items li {
    font-size: 18px;
  }
  .elst-header {
    padding: 20px 10px;
  }
  .elst-header .elst-navigation {
    padding: 0 25px 25px;
  }
  .elst-page-title {
    padding: 50px 0 40px;
  }
  .footer-wrap {
    padding: 50px 0 10px;
  }
  .elst-logo {
    padding-bottom: 15px;
  }
  .footer-widget .widget-title {
    padding-bottom: 8px;
  }
  .footer-widget ul {
    line-height: 30px;
    padding: 0;
  }
  .elst-copyright {
    padding: 25px 0 15px;
    text-align: center;
  }
  .elst-social a {
    margin: 5px;
  }
  .header-style-six .elst-social a {
    margin-bottom: 0px;
  }
  /* Elasta 404 Error Page CSS */
  .elst-error h1 {
    font-size: 90px;
    line-height: 80px;
  }
  .elst-error h2 {
    font-size: 26px;
    line-height: 34px;
  }
  .error-subtitle {
    padding-bottom: 10px;
  }
  .elst-error p {
    font-size: 20px;
  }
  /* Elasta News Page CSS */
  .news-item {
    margin-bottom: 35px;
  }
  .news-info {
    padding-top: 15px;
  }
  .news-meta h3 {
    font-size: 22px;
    line-height: 28px;
  }
  .elst-share-link {
    margin-bottom: 5px;
  }
  .elst-share-link > a,
  .elst-social.rounded a {
    width: 40px;
    height: 40px;
    font-size: 16px;
    line-height: 38px;
  }
  .elst-share-link.elst-hover .elst-social {
    left: 44px;
  }
  .news-info p {
    padding-bottom: 10px;
  }
  .blockquote-style-two {
    padding: 25px;
    text-align: center;
  }
  .blockquote-style-two:before {
    position: static;
    height: 30px;
    background-size: 35px auto;
  }
  .blockquote-style-two p {
    padding-bottom: 5px;
    font-size: 18px;
    line-height: 26px;
  }
  .blockquote-style-two p:first-child:before,
  .quote-icon::before {
    display: none;
  }
  .blockquote-style-two cite {
    font-size: 16px;
  }
  .pagination-style-two {
    padding-top: 0;
    text-align: left;
  }
  .elst-widget .widget-title {
    padding-bottom: 10px;
  }
  .categories-widget .widget-title,
  .elst-widget .nav-tabs {
    padding-bottom: 0;
  }
  .elst-widget.categories-widget {
    padding-bottom: 15px;
  }
  .post-widget ul li {
    padding-right: 15px;
  }
  .post-info {
    padding-left: 15px;
  }
  .post-info h4 {
    font-size: 16px;
  }
  .post-title {
    padding-bottom: 5px;
  }
  .elst-widget.post-widget {
    padding-bottom: 0;
  }
  .tags-widget a {
    margin-bottom: 5px;
  }
  /* Elasta News Single Page CSS */
  .news-detail-wrap {
    padding: 15px 0 35px;
  }
  .news-detail-wrap p {
    font-size: 16px;
  }
  .single-news-meta {
    padding-top: 15px;
    margin-top: 5px;
  }
  .single-news-meta .pull-left {
    width: 100%;
  }
  .single-news-meta .pull-right {
    width: 100%;
    padding-top: 10px;
  }
  .single-news-meta .elst-social a {
    margin: 0 4px 4px;
  }
  .elst-author-info {
    padding: 25px;
  }
  .author-content .author-name {
    margin-bottom: 0;
  }
  .author-content p {
    padding-bottom: 10px;
  }
  .author-content .elst-social a {
    margin: 0 5px 5px;
  }
  .elst-social a {
    font-size: 15px;
  }
  .elst-comments-area h3 {
    font-size: 22px;
  }
  .post-info h3 {
    font-size: 20px;
    line-height: 26px;
  }
  .elst-comments-area .comment-body {
    padding-bottom: 25px;
  }
  .elst-comments-area .elst-comments-meta {
    padding-bottom: 0;
  }
  .elst-comments-area .comments li .children li {
    padding-left: 25px;
  }
  .elst-comments-area .comment-main-area {
    padding-left: 15px;
  }
  .comment-reply-title {
    padding-bottom: 5px;
  }
  .elst-comment-form .form-submit {
    padding-top: 0;
  }
  /* Elasta Content Cross Check Page CSS */
  .elst-unit-fix .entry-content .comment-form {
    padding-top: 0;
  }
  .elst-unit-fix .entry-content .comment-list article,
  .elst-unit-fix .entry-content .comment-list .pingback,
  .elst-unit-fix .entry-content .comment-list .trackback {
    padding: 15px 0 20px;
  }
  .entry-content dd {
    margin-bottom: 10px;
  }
  .wp-caption {
    max-width: 100%;
    margin-bottom: 10px;
  }
  .entry-content .comment-list article,
  .entry-content .comment-list .pingback,
  .entry-content .comment-list .trackback {
    padding: 20px 0;
  }
  .entry-content .comment-content ul,
  .entry-content .comment-content ol {
    margin: 0 0 10px 0;
  }
  .entry-content .comment-metadata {
    margin-bottom: 5px;
  }
  .entry-content .comment-list .comment-reply-link {
    margin-top: 0;
  }
  .entry-content .comment-list .children {
    padding-left: 0;
  }
  .entry-content .comment-notes,
  .entry-content .comment-awaiting-moderation,
  .entry-content .logged-in-as,
  .entry-content .form-allowed-tags {
    padding-bottom: 10px;
  }
  .elst-mid-wrap {
    padding: 70px 0 70px;
  }
  .mid-spacer-two,
  .mid-spacer-three {
    padding-bottom: 70px;
  }
  .info-widget {
    padding: 0;
  }
  .header-style-six .col-md-3 {
    width: 50%;
  }
  .elst-header.header-style-six .col-md-6 {
    padding: 0 20px;
  }
  .elst-header-six-scodes {
    width: 100%;
    text-align: center;
  }
  .header-style-six .header-links-wrap {
    width: 100%;
  }
  .header-style-six .header-right-btn {
    padding: 0;
    border-left: 1px solid #ffffff;
  }
  .header-style-six .header-right-btn .elst-small-btn {
    width: 100%;
  }
  .header-style-six .elst-brand {
    padding: 30px 0 35px !important;
  }
  .header-style-six .mean-container a.meanmenu-reveal {
    top: 22px;
  }
  .header-style-six .mean-container .mean-nav {
    margin-top: 87px;
  }
  .elst-order-1 {
    -ms-flex-order: 1;
    order: 1;
  }
  .elst-order-2 {
    -ms-flex-order: 2;
    order: 2;
  }
  .elst-order-3 {
    -ms-flex-order: 3;
    order: 3;
  }
  .elst-copyright .alignright {
    float: none;
    text-align: center;
  }
  .elst-page-title.title-style-two h2:after {
    bottom: 11px;
    height: 5px;
  }
  .elst-page-title.title-style-fifteen .breadcrumb-trail {
    position: relative;
    bottom: 0;
  }
  .elst-page-title.title-style-sixteen ul.trail-items,
  .elst-page-title.title-style-fifteen ul.trail-items {
    padding: 20px;
  }
  .footer-style-six .footer-widget ul.col-three li {
    width: 100%;
  }
  .header-style-seven .col-md-6 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .header-style-seven .elst-header-left.mean-container {
    margin: 0;
  }
  .header-style-seven .mean-container a.meanmenu-reveal {
    top: -55px;
  }
  .header-style-seven .mean-container .mean-nav {
    margin-top: 20px;
  }
  .elst-header.header-style-nine .container {
    max-width: 100%;
  }
  .news-three .elst-image {
    margin-bottom: 30px;
  }
  .elst-post-wrap .elst-post-col:nth-child(even) .elst-news-item.news-seven .order-2 {
    -ms-flex-order: 2;
    order: 2;
  }
  .elst-masonry[data-items="2"] .masonry-item,
  .elst-masonry[data-items="3"] .masonry-item,
  .elst-masonry[data-items="4"] .masonry-item {
    width: 100%;
  }

}

@media screen and (max-width:599px) {
  /* Elasta Normal CSS */
  h1,
  .h1 {
    font-size: 30px;
  }
  .elst-text-logo {
    font-size: 24px;
  }
  .elst-site-tagline {
    font-size: 14px;
  }
  .elst-search-wrap {
    display: none;
  }
  .elst-header.header-style-nine .container,
  .elst-header.header-style-nine {
    padding-left: 0;
  }
  .header-style-nine.elst-has-text-logo.elst-has-site-tagline .elst-brand.has-logo {
    left: 0;
  }
  .header-style-ten .col-md-3.empty {
    display: none;
  }
  .header-style-ten .col-md-3,
  .header-style-ten .col-md-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .header-style-ten .elst-menu-trigger {
    margin-right: 0;
  }
  .elst-full-wrap .elst-brand, 
  .elst-full-wrap .elst-header-scodes {
    visibility: hidden;
  }
  .elst-full-header .elst-menu-trigger {
    margin: 0;
    right: -13px;
    top: -12px;
    transform: none;
  }
  .elst-full-header.open .elst-menu-trigger {
    right: 0;
  }
  .elst-full-header {
    width: 50px;
    height: 50px;
    padding: 30px;
  }
  .open .elst-full-wrap .elst-brand, 
  .open .elst-full-wrap .elst-header-scodes {
    visibility: visible;
  }
  .main-wrap-inner.header-eleven {
    width: calc(100%);
  }
}

@media screen and (max-width:479px) {
  .elst-text-logo {
    font-size: 22px;
  }
  .elst-site-tagline {
    font-size: 12px;
  }
  /* Elasta Normal CSS */
  input[type="submit"],
  button[type="submit"] {
    width: 100%;
  }
  .elst-page-title h2 {
    font-size: 28px;
    line-height: 32px;
  }
  /* Elasta 404 Error Page CSS */
  .elst-error h1 {
    font-size: 80px;
    line-height: 65px;
  }
  .elst-error h2 {
    font-size: 24px;
    line-height: 32px;
  }
  /* Elasta News Single Page CSS */
  .elst-author-info {
    text-align: center;
  }
  .author-avatar {
    float: none;
  }
  .author-content {
    padding: 10px 0 0;
  }
  .author-content .elst-social a {
    margin: 0 4px 8px;
  }
  .elst-comments-area .comment-image {
    float: none;
    padding-top: 0;
  }
  .elst-comments-area .comment-main-area {
    padding: 10px 0 0;
  }
  .elst-comments-area .comments-reply {
    position: static;
    padding: 5px 0;
  }
  .elst-comments-area .comments li .children li {
    padding-left: 0;
  }
  .elst-page-title.title-style-four h2 span {
    left: 10px;
    bottom: -10px;
  }
  .elst-page-title.title-style-four h2 span:after {
    left: -100px;
  }
  .header-style-nine .header-right-btn,
  .elst-header.header-style-eight .header-links-wrap,
  .elst-header-scodes,
  .header-icon-links {
    display: none;
  }
  .header-style-seven .elst-header-scodes {
    display: inline-block;
  }
  .header-style-nine .elst-header-left {
    padding: 46px 0; 
  }
  .elst-header.header-style-nine {
    padding-right: 20px;
  }
  .elst-full-header.open {
    padding: 40px;
  }
}

@media screen and (max-width:359px) {
  /* Elasta News Page CSS */
  .news-meta h3 {
    font-size: 20px;
    line-height: 26px;
  }  
}

@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation: landscape) {
  /* Elasta Normal CSS */
  .elst-header .elst-navigation {
    height: 200px;
  }
}