@charset "utf-8";
/*Elasta RTL Styling*/

body {
  direction: rtl;
}
.elst-page-content ul li,
.elst-comments-area .comment-body .comment-content ul li,
.elst-news-detail-wrap ul li {
  padding: 15px 50px 0 0;
}
.elst-page-content ul li:before,
.elst-comments-area .comment-body .comment-content ul li:before,
.elst-news-detail-wrap ul li:before {
  right: 20px;
}
.elst-page-content ol,
.elst-comments-area .comment-body .comment-content ol,
.elst-news-detail-wrap ol {
  padding: 0 40px 0 0;
}
.elst-news-detail-wrap > ol ul li {
  padding: 15px 50px 0 0;
}
.elst-news-detail-wrap ul li ol li ul li {
  padding: 15px 50px 0 0;
}
.alignleft {
  float: right;
  text-align: right;
}
.alignright {
  float: left;
  text-align: left;
}
.nice-select:after {
  left: 13px;
}
.elst-custom-wpml.nice-select-two .nice-select:before {
  right: 0;
}
.nice-select-two .nice-select:after {
  left: 0;
}
.nice-select-two .nice-select .list {
  right: -31px;
}
.nice-select-two .nice-select .list:before {
  left: 37px;
  border-right: 1px solid #e4ecfe;
}
.elst-form input[type="text"],
.elst-form input[type="email"],
.elst-form input[type="password"],
.post-password-form input[type="password"],
.elst-form input[type="tel"],
.elst-form input[type="search"],
.elst-form input[type="date"],
.elst-form input[type="time"],
.elst-form input[type="datetime-local"],
.elst-form input[type="event-month"],
.elst-form input[type="url"],
.elst-form input[type="number"],
.tribe-events-tickets input[type="number"],
.elst-form textarea,
.elst-form select,
.form-control {
  border-right: none;
  border-left: none;
}
.elst-form input[type=number] {
  padding-left: 30px;
}
.elst-file-selector label {
  padding: 11px 0 16px 120px;
}
.elst-file-selector input[type="file"] {
  right: 0;
}
.elst-file-selector .elst-icon {
  left: 0;
}
.elst-form input[type="checkbox"],
.elst-form input[type="radio"] {
  margin: 0 0 0 5px;
}
.elst-form button[type="submit"] i {
  padding-right: 5px;
}
blockquote:before {
  right: 40px;
}
.wp-block-pullquote blockquote:before {
  right: 0;
  left: 0;
}
blockquote cite:before {
  padding-left: 4px;
}
.checkbox-icon-wrap .checkbox-icon {
  margin-left: 5px;
}
.checkbox-icon-wrap input[type="checkbox"]:checked + .checkbox-icon:before {
  right: 50%;
}
.radio-icon-wrap .radio-icon {
  margin-left: 1px;
}
.radio-icon-wrap input[type="radio"]:checked + .radio-icon:before {
  right: 3px;
}
.wpcf7-list-item-label {
  padding-left: 20px;
}
table th {
  border-left: 1px solid #eeeeee;
}
table td {
  border-left: 1px solid #eeeeee;
}
.wp-link-pages a,
.wp-link-pages > span {
  margin-left: 3px;
}
.wp-link-pages > span:first-child,
.wp-link-pages a:first-child {
  margin-right: 5px;
}
.wp-link-pages > .page-links-title {
  padding-left: 5px;
}
.elst-pagenavi {
  text-align: right;
}
.elst-pagenavi .nav-links a.prev {
  padding-left: 5px;
}
.elst-pagenavi .nav-links a.next {
  padding-right: 5px;
}
.elst-pagenavi .nav-links a.prev i {
  padding-left: 5px;
}
.elst-pagenavi .nav-links a.next i {
  padding-right: 5px;
}
[class*="elementor-widget-wp-widget-"] ul li,
.elst-widget ul li {
  padding: 20px 25px 0 0;
}
[class*="elementor-widget-wp-widget-"] ul li:before,
.elst-widget ul li:before {
  right: 0;
}
.elst-widget ul li ul ul ul ul ul ul li {
  margin-right: -25px;
}
.elst-widget .count,
.elst-widget .post-count {
  left: 0;
}
.elementor-widget-wp-widget-search form input[type="text"],
.widget_search form input[type="text"] {
  padding: 0 14px 14px 40px;
}
.elementor-widget-wp-widget-search form input[type="submit"],
.widget_search form input[type="submit"] {
  left: 0;
}
.widget_search form p:before {
  left: 0;
}
.category-counter {
  float: left;
}
.elst-widget .nav-tabs {
  text-align: right;
}
.post-widget ul li {
  padding: 0 10px 0 25px;
}
.post-widget ul li:last-child {
  padding-left: 0;
}
.elementor-widget-wp-widget-tag_cloud a,
.widget_product_tag_cloud a,
.widget_tag_cloud a {
  margin: 0 0 9px 1px;
}
.elementor-widget-wp-widget-tag_cloud a:before,
.widget_product_tag_cloud a:before,
.widget_tag_cloud a:before {
  padding-left: 5px;
}
.elst-social a {
  margin-left: 12px;
}
.elst-social a:first-child {
  margin-right: 0;
}
.elst-social a:last-child {
  margin-left: 0;
}
.elst-brand {
  float: right;
  text-align: right;
}
.elst-navigation > ul > li {
  float: right;
}
.elst-navigation ul > li.has-dropdown > a:after {
  padding-right: 4px;
}
.elst-navigation .nav-dots,
.elst-navigation .nav-dots:before,
.elst-navigation .nav-dots:after {
  right: 1px;
  left: 0;
}
.elst-navigation .nav-dots:before,
.elst-navigation .nav-dots:after {
  right: -9px;
  left: auto;
}
.elst-navigation .nav-dots:after {
  right: auto;
  left: -9px;
}
.elst-navigation .has-dropdown.sub .dropdown-nav {
  right: 100%;
}
.dropdown-nav {
  right: 15px;
}
.dropdown-nav .dropdown-nav {
  right: calc(100% + 25px);
}
.dropdown-nav:before {
  right: 22px;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
}
.dropdown-nav .dropdown-nav:before {
  right: -25px;
}
.elst-navigation > ul > li:nth-last-child(-n+3).menu-item .dropdown-nav {
  left: 0px;
  right: auto;
}
.elst-navigation > ul > li:nth-last-child(-n+3).menu-item .dropdown-nav:before {
  left: 22px;
  right: auto;
}
.elst-navigation > ul > li:nth-last-child(-n+3).menu-item .dropdown-nav .dropdown-nav:before {
  left: -25px;
  right: auto;
}
.elst-navigation > ul > li:nth-last-child(-n+3).menu-item ul .dropdown-nav {
  left: calc(100% + 25px);
  right: auto;
}
.mean-container .mean-nav ul li a.mean-expand {
  left: 10px;
}
.mean-container .mean-bar {
  float: right;
  right: 0;
}
.mean-container a.meanmenu-reveal {
  left: 25px !important;
}
.mean-container .mean-nav ul li a {
  padding: 20px 20px 20px 0px !important;
}
.mean-container .mean-nav ul li li a {
  float: right;
  margin: 0 40px 0px 0;
}
.mean-container .mean-nav ul li li li a {
  margin: 0 60px 0px 0;
}
.mean-container .mean-nav ul {
  right: 0;
}
.mean-container .mean-nav {
  float: right;
}
.elst-header-left {
  padding-right: 25px;
  float: right;
}
.header-links-wrap {
  float: left;
}
.header-icon-links {
  float: right;
}
.header-icon-links a {
  padding-right: 15px;
  padding-left: 0;
}
.elst-search-link {
  padding-right: 15px;
  padding-left: 0;
}
.elst-search-box {
  left: 0;
  right: 0;
}
.elst-search-box input[type="text"] {
  right: 0;
}
.elst-search-box .search-closer {
  left: 30px;
}
.header-right-btn {
  padding-right: 30px;
}
.header-right-btn .elst-small-btn {
  float: right;
}
.header-right-btn .elst-trans-btn {
  border-radius: 0 4px 4px 0;
}
.header-right-btn .elst-black-btn {
  border-radius: 4px 0 0 4px;
}
.header-right-btn .elst-btn i {
  padding-left: 5px;
}
.elst-toggle .toggle-separator:before,
.elst-toggle .toggle-separator:after {
  right: 0;
}
.header-style-two .elst-navigation .nav-text:before {
  margin-left: 5px;
}
.elst-search-wrap {
  float: right;
  padding: 10px 30px 0 0;
}
.header-style-three .elst-header-left {
  padding-right: 0;
}
.elst-search-wrap form p:before {
  left: 0;
}
.elst-search-wrap form input[type="submit"] {
  left: 0;
}
.header-style-three .header-right-btn .elst-trans-btn {
  margin-left: 30px;
}
.header-style-three .header-right-btn .elst-black-btn:after {
  right: -15px;
}
.header-style-four .header-right-btn .elst-btn {
  margin-right: 10px;
}
.elst-header-scodes {
  padding: 21px 30px 0 0;
}
.header-style-six .elst-navigation li {
  text-align: right;
}
.header-style-six .elst-navigation .elst-brand {
  margin-right: 25px;
  margin-left: 25px;
}
.header-style-six .elst-header-left {
  padding-right: 0;
}
.header-style-seven .elst-navigation li {
  text-align: right;
}
.header-style-seven .elst-navigation .elst-brand {
  margin-right: 25px;
  margin-left: 25px;
}
.header-style-seven .elst-header-left {
  padding-right: 0;
}
.header-style-seven .header-right-btn .elst-small-btn:last-child {
  margin-right: 5px;
}
.elst-header.header-style-eight .elst-brand.has-logo {
  padding-left: 30px;
  border-left: 1px solid #d1d1d1;
}
.elst-header.header-style-eight .header-links-wrap {
  border-right: 1px solid #d1d1d1;
}
.elst-header-wraper {
  padding-right: 200px;
}
.header-style-nine .elst-navigation {
  text-align: left;
}
.header-style-nine .elst-navigation li {
  text-align: right;
}
.header-style-nine .elst-header-left {
  padding-right: 0;
}
.elst-topbar.header-style-nine:after {
  right: -40px;
}
.header-style-nine.elst-has-text-logo.elst-has-site-tagline .elst-brand {
  right: 15px;
}
.header-style-nine .header-right-btn .elst-small-btn:last-child {
  margin-right: 5px;
}
.elst-trigger-btn {
  right: 0;
}
.elst-trigger-btn .icon-left {
  right: 0;
}
.elst-trigger-btn .icon-left:before {
  right: 0;
}
.elst-trigger-btn .icon-left:after {
  right: 0;
}
.elst-trigger-btn .icon-right {
  right: 15px;
}
.elst-trigger-btn .icon-right:before {
  right: 0;
}
.elst-trigger-btn .icon-right:after {
  right: 0;
}
.elst-fixed-wrap .elst-brand a {
  text-align: left;
}

/*Fixed Header*/
.elst-fixed-header {
  left: 0;
  text-align: left;
}
.elst-navigation-overlay {
  left: 0;
}
.elst-fixed-wrap .elst-brand.has-logo, .elst-fixed-wrap .elst-header-scodes {
  float: left;
  left: 0;
}
.elst-fixed-wrap .mega-menu .dropdown-nav {
  text-align: left;
}
.elst-footer.header-eleven-pro, 
.main-wrap-inner.header-eleven {
  margin-right: auto;
  margin-left: 0;
}
.elst-full-header .elst-menu-trigger {
  left: 0;
}
.elst-full-header {
  right: 0;
  text-align: right;
}
.elst-full-wrap .elst-brand.has-logo, .elst-full-wrap .elst-header-scodes {
  float: right;
  right: 0;
}
.elst-full-wrap .mega-menu .dropdown-nav {
  text-align: right;
}
.elst-primary {
  float: right;
}
.elst-secondary {
  float: right;
}
.secondary-wrap {
  padding-right: 8px;
}
.left-sidebar .elst-primary {
  float: left;
}
.left-sidebar .secondary-wrap {
  padding: 0 8px 0 0;
}
.elst-page-title.has-bg:after {
  right: 0;
}
.elst-page-title h2:before,
.elst-page-title h2:after {
  margin-right: 25px;
}
.elst-page-title h2:before {
  margin-right: 0;
  margin-left: 25px;
}
.elst-page-title ul.trail-items li:before {
  left: -2px;
}
.elst-page-title.title-style-two h2:after {
  right: 0;
}
.elst-page-title.title-style-three h2:before {
  right: 0;
}
.elst-page-title.title-style-four h2:before,
.elst-page-title.title-style-four h2:after {
  right: 20px;
}
.elst-page-title.title-style-four h2:after {
  right: auto;
  left: 20px;
}
.elst-page-title.title-style-four h2 span {
  right: 20px;
}
.elst-page-title.title-style-four h2 span:after {
  right: -270px;
}
.elst-page-title.title-style-five h2:before {
  right: 0;
  left: 0;
}
.elst-page-title.title-style-five h2:after {
  right: auto;
  left: 20px;
}
.elst-page-title.title-style-six h2:before,
.elst-page-title.title-style-six h2:after {
  right: 0;
  left: 0;
}
.elst-page-title.title-style-seven h2:after {
  right: 0;
  left: 0;
}
.elst-page-title.title-style-eight h2:before,
.elst-page-title.title-style-eight h2:after {
  right: 0;
  left: 0;
}
.elst-page-title.title-style-nine {
  text-align: right;
}
.elst-page-title.title-style-nine h2 { 
  border-right: 5px solid #cbcbcb;
  padding: 0 0 25px 30px;
}
.elst-page-title.title-style-nine h2:before,
.elst-page-title.title-style-nine h2:after {
  right: 30px;
  left: auto;
}
.elst-page-title.title-style-nine ul.trail-items {
  padding-right: 35px;
}
.elst-page-title.title-style-nine ul.trail-items li.trail-begin {
  padding-right: 0;
}
.elst-page-title.title-style-ten h2:before,
.elst-page-title.title-style-ten h2:after {
  right: 0;
  left: 0;
}
.elst-page-title.title-style-eleven h2 {
  padding: 0 0 0 30px;
}
.elst-page-title.title-style-eleven h2 span.first-word {
  margin-left: 10px;
}
.elst-page-title.title-style-twelve h2:before, 
.elst-page-title.title-style-twelve h2:after {
  right: 0;
  left: auto;
  border-left: 0;
}
.elst-page-title.title-style-twelve h2:before {
  right: auto;
  left: 0;
  border-left: 10px solid #cbcbcb;
  border-right: 0;
}
.elst-page-title.title-style-thirteen h2:before, 
.elst-page-title.title-style-thirteen h2:after {
  right: 0;
  left: auto;
}
.elst-page-title.title-style-thirteen h2:before {
  right: auto;
  left: 0;
}
.elst-page-title.title-style-fourteen h2:before, 
.elst-page-title.title-style-fourteen h2:after {
  right: 0;
  left: 0;
}
.elst-page-title.title-style-fourteen h2:before {
  right: 10px;
}
.elst-page-title.title-style-fifteen .breadcrumb-trail {
  right: 0;
  left: 0;
}
.elst-page-title.title-style-sixteen {
  text-align: right;
}
.elst-page-title.title-style-sixteen h2:after {
  right: 0;
}
.elst-page-title.title-style-seventeen {
  text-align: right;
}
.elst-page-title.title-style-seventeen .breadcrumb-trail {
  text-align: left;
}
.elst-page-title.title-style-seventeen h2:before, 
.elst-page-title.title-style-seventeen h2:after {
  right: 0;
}
.elst-page-title.title-style-seventeen h2:before {
  right: 40px;
}
.elst-page-title.elst-single-title {
  text-align: right;
}
.elst-news-item.elst-hover .elst-link a i {
  margin-right: 10px;
}
.elst-news-cats a {
  margin-right: 25px;
}
.elst-news-cats a:before {
  right: -16px;
}
.elst-news-cats a:after {
  right: 0;
}
.elst-news-cats a:first-child {
  padding-right: 0;
  margin-right: 0;
}
.elst-share-link {
  margin: 4px 0 0 14px;
}
.elst-share-link .elst-social {
  left: 45px;
  padding-left: 4px;
}
.elst-share-link .elst-social a {
  margin: 0 0 0 -49px;
}
.elst-link:after {
  right: 0;
}
.elst-link a i {
  margin: 0 6px 2px 0;
}
.news-meta-tags {
  text-align: left;
}
.single-news-meta .elst-social a {
  margin-left: 20px;
}
.single-news-meta .elst-social a:last-child {
  margin-left: 0;
}
.meta-label {
  padding-left: 6px;
}
.meta-tag a:before {
  padding-left: 5px;
}
.author-avatar {
  float: right;
}
.elst-comments-area .trackback .comment-main-area,
.elst-comments-area .pingback .comment-main-area {
  padding-right: 0;
}
a#cancel-comment-reply-link {
  float: left;
}
.elst-comments-area .reply {
  left: 0;
}
.elst-comments-area .comments li .children li {
  padding-right: 40px;
}
.elst-comments-area .comment-author img,
.elst-comments-area .comment-image img {
  float: right;
  margin-left: 30px;
}
.elst-comments-area .comment-body .comment-metadata .edit-link .comment-edit-link {
  margin-right: 6px;
}
.entry-content .comment-author .avatar {
  float: right;
  margin-left: 0.875em;
}
.entry-content .comment-list .children > li {
  padding-right: 0.875em;
}
.entry-content .comment-author .avatar {
  float: right;
  margin-left: 0.875em;
}
.entry-content .bypostauthor > article .fn:after {
  right: 3px;
}
.entry-content .comment-content ul,
.entry-content .comment-content ol {
  margin: 0 1.25em 1.5em 0;
}
.footer-wrap .elst-btn-wrap a {
  margin-left: 7px;
}
ul.footer-address {
  padding-left: 50px;
}
ul.footer-address li {
  padding-right: 30px;
}
ul.footer-address li span {
  right: 0;
}
.footer-widget .elst-form input[type="submit"] {
  left: 0;
}
.footer-widget .elst-form.searchform p:before {
  left: 0;
}
.footer-widget .elst-social a {
  margin-left: 20px;
}
.elst-copyright ul li {
  padding-right: 15px;
}
.elst-copyright ul li:before {
  padding-left: 15px;
}
.elst-copyright ul li:first-child {
  padding-right: 0;
}
.elst-footer-top ul li {
  padding-right: 15px;
}
.elst-footer-top ul li:first-child {
  padding-right: 0;
}
.elst-footer.footer-style-three .footer-widget .widget-title:after {
  margin-right: 10px;
}
.elst-footer.footer-style-four .footer-widget ul li:before {
  margin-left: 10px;
}
.footer-style-five .footer-widget ul li {
  padding-right: 15px;
}
.footer-style-five .footer-widget ul li:first-child {
  padding-right: 0;
}
.woocommerce .woocommerce-ordering,
.woocommerce-page .woocommerce-ordering {
  float: left;
}
.woocommerce .woocommerce-ordering .nice-select {
  padding: 4px 23px 0 58px;
}
.woocommerce .woocommerce-ordering .nice-select:after {
  left: 17px;
}
.woocommerce .new-product {
  left: 0;
  border-width: 0 0 50px 50px;
}
.woocommerce .new-product span {
  margin: 9px 19px 0 0;
}
.woocommerce .discount-product {
  right: 0;
  border-width: 50px 0 0 50px;
}
.woocommerce .discount-product span {
  right: 3px;
}
.woocommerce ul.products li.product .onsale {
  left: 25px;
}
.woocommerce ul.products li.product .button,
.woocommerce ul.products li.product a.added_to_cart.wc-forward {
  right: 0;
  left: 0;
}
.woocommerce ul.products li.product .view-product {
  right: 0;
}
.woocommerce ul.products li.product .view-product i {
  padding-left: 3px;
}
.woocommerce ul.products li.product a.button.add_to_cart_button,
.woocommerce ul.products li.product a.added_to_cart.wc-forward,
.woocommerce ul.products li.product a.product_type_variable,
.woocommerce ul.products li.product a.button {
  right: 0;
}
.woocommerce ul.products li.product .button.add_to_cart_button:before,
.woocommerce div.product form.cart button.single_add_to_cart_button.button.alt:before {
  padding-left: 10px;
}
.like-product {
  float: left;
}
.woocommerce ul.products li.product .button i {
  padding-left: 3px;
}
.woocommerce ul.products li.product .price del {
  padding-left: 2px;
}
.woocommerce ul.cart_list li a img,
.woocommerce ul.product_list_widget li a img {
  float: right;
  margin: 0 0 0 15px;
}
.woocommerce ul.product_list_widget del .amount {
  padding-left: 5px;
}
.woocommerce nav.woocommerce-pagination ul li.prev .fa {
  padding-left: 3px;
}
.woocommerce nav.woocommerce-pagination ul li.next .fa {
  padding-right: 3px;
}
/* 19. Shop Detail Page */
.single-product div.product .woocommerce-product-gallery .flex-viewport {
  float: left;
}
.woocommerce div.product div.images .flex-control-thumbs li {
  margin-left: 10px;
}
.woocommerce #content div.product div.summary,
.woocommerce div.product div.summary,
.woocommerce-page #content div.product div.summary,
.woocommerce-page div.product div.summary {
  padding-right: 34px;
}
.single-product.woocommerce span.onsale {
  right: 10px;
}
.related.products h2 {
  text-align: right;
}
.woocommerce div.product form.cart .variations select {
  padding-right: 10px;
}
.woocommerce div.product form.cart .variations td.label {
  padding: 15px 0px 20px 0;
  float: right;
}
.woocommerce div.product form.cart .reset_variations {
  float: right;
}
.single-product .woocommerce table.shop_attributes {
  text-align: right;
}
.woocommerce-Tabs-panel--additional_information table.shop_attributes td {
  padding-right: 10px;
}
.woocommerce .swiper-container {
  margin-right: auto;
  margin-left: auto;
}
.galleryslides {
  float: right;
}
.gallerythumbs {
  float: right;
  padding: 50px 0 0 40px;
}
.woocommerce .zoom-icon {
  left: 30px;
}
.woocommerce #content div.product div.thumbnails a,
.woocommerce div.product div.thumbnails a,
.woocommerce-page #content div.product div.thumbnails a,
.woocommerce-page div.product div.thumbnails a {
  margin: 0 10px 0 3%;
}
.woocommerce .woocommerce-product-rating .star-rating {
  margin-left: 2px;
}
.woocommerce div.product span.price del {
  padding-left: 10px;
}
.woocommerce div.product p.price del {
  padding-left: 5px;
}
.woocommerce div.product form.cart,
.woocommerce div.product p.cart {
  float: right;
  margin: 0;
}
.woocommerce div.product .product-color ul {
  padding: 0 5px 0 0;
}
.woocommerce div.product .product-color ul li {
  margin-right: 7px;
}
.woocommerce div.product .product-color ul li:before {
  right: 1px;
  left: 1px;
}
.woocommerce div.product form.cart div.quantity {
  margin-left: 10px;
}
.woocommerce div.product .quantity-label {
  padding-left: 7px;
}
.woocommerce .quantity-up,
.woocommerce .quantity-down {
  left: 15px;
}
.add-cart-label {
  float: right;
  padding: 7px 0 0 15px;
}
.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt {
  float: right;
}
.woocommerce-cart table.shop_table td,
.woocommerce-cart table.shop_table th {
  border-left: none;
}
.woocommerce #respond input#submit.alt i,
.woocommerce a.button.alt i,
.woocommerce button.button.alt i,
.woocommerce input.button.alt i {
  padding: 0 0 0 5px;
}
.single-product .woocommerce-Price-amount.amount .woocommerce-Price-currencySymbol {
  padding-left: 3px;
}
.yith-wcwl-add-to-wishlist a i {
  padding-left: 2px;
}
.product-compare {
  padding-right: 25px;
}
.woocommerce .price_slider_amount #respond input#submit,
.woocommerce .price_slider_amount a.button,
.woocommerce .price_slider_amount button.button,
.woocommerce .price_slider_amount input.button {
  float: right;
  margin-left: 0;
}
.amount-label {
  padding: 6px 0 0 8px;
}
.amount-label span {
  margin-left: 3px;
}
.woocommerce div.product .product_meta.meta-categories label {
  float: right;
  padding-left: 10px;
}
.product-share .socials-label {
  padding-left: 6px;
}
.product-share .elst-social a {
  margin-left: 5px;
}
.woocommerce div.product .woocommerce-tabs ul.tabs {
  padding-right: 0;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li {
  margin: 0 0 0 37px;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li a:before {
  right: 0;
}
.woocommerce #review_form #respond .form-submit input {
  right: auto;
}
.woocommerce #reviews #comments ol.commentlist li.child {
  margin-right: 90px;
}
.woocommerce #reviews #comments ol.commentlist li .comment-text {
  padding: 5px 0 0 25px;
}
.woocommerce #reviews #comments ol.commentlist li time {
  padding-right: 3px;
}
.woocommerce #reviews #comments ol.commentlist li .comment-text .star-rating {
  float: left;
}
.woocommerce #review_form #respond p.form-submit label {
  margin: 0 0 0 5px;
}
.woocommerce table.shop_table th {
  text-align: right;
}
.woocommerce table.shop_table td.product-image {
  padding: 32px 60px 32px 0;
}
.woocommerce-cart table.shop_table.cart th {
  text-align: right;
}
.cart_totals table.shop_table.shop_table_responsive tr td,
.cart_totals table.shop_table.shop_table_responsive tr th {
  text-align: right;
}
ul.woocommerce-error {
  margin-right: 15px;
  margin-left: 15px;
}
.woocommerce-checkout h3#order_review_heading {
  padding-right: 15px;
}
.woocommerce-checkout .woocommerce form .form-row.create-account .input-checkbox {
  display: inline-block;
  margin: 0 0 0 5px;
}
.woocommerce-checkout form.checkout_coupon.woocommerce-form-coupon,
.woocommerce-checkout form.woocommerce-form.woocommerce-form-login.login {
  padding-right: 20px;
  padding-left: 15px;
}
.woocommerce form .form-row label.inline {
  margin: 15px 40px 0 0;
}
.woocommerce form.checkout_coupon input.input-text {
  float: right;
}
.woocommerce form.checkout_coupon input.button {
  float: right;
  margin-right: 9px;
}
.woocommerce .select2-container--default .select2-selection--single {
  padding: 10px 40px 10px 0;
}
.woocommerce .select2-container .select2-selection--single .select2-selection__rendered {
  padding-right: 0;
}
.woocommerce-cart .shipping-calculator-form .form-row {
  margin: 0 0 20px 0;
}
.woocommerce span.select2-selection.select2-selection--single:after {
  border-left: 2px solid #999;
  left: 22px;
}
.woocommerce form .diffrent-address .wpcf7-list-item-label {
  padding-left: 7px;
}
.woocommerce form .diffrent-address .checkbox-icon-wrap {
  right: auto;
  left: 0;
}
.wcppec-checkout-buttons {
  float: right;
}
.paypal-button .paypal-button-text {
  padding-right: 5px;
}
.woocommerce-checkout .form-row .woocommerce-terms-and-conditions-wrapper .input-checkbox {
  float: right;
}
.woocommerce .woocommerce-checkout-review-order table.shop_table tbody .product-name {
  padding-left: 8px;
}
.woocommerce .woocommerce-checkout-review-order table.shop_table th {
  text-align: right;
}
.woocommerce #add_payment_method #payment div.payment_box,
.woocommerce .woocommerce-cart #payment div.payment_box,
.woocommerce .woocommerce-checkout #payment div.payment_box {
  padding: 10px 26px 10px 0;
}
#add_payment_method #payment ul.payment_methods li input,
.woocommerce-cart #payment ul.payment_methods li input,
.woocommerce-checkout #payment ul.payment_methods li input {
  margin-left: 11px;
}
.woocommerce .wc_payment_method .wpcf7-list-item-label a {
  margin-right: 6px;
}
.woocommerce-checkout h3 span {
  padding-right: 5px;
}
.woocommerce-account form.login, 
.woocommerce-account form.register {
  padding-left: 0;
  padding-right: 0;
}
.woocommerce-account .woocommerce .woocommerce-MyAccount-navigation ul li {
  border-right: 1px solid #ECECEC;
  border-left: 1px solid #ECECEC;
}
.woocommerce-account .addresses .title .edit {
  float: left;
  margin-left: 0;
}
.woocommerce .widget_shopping_cart .cart_list li a.remove,
.woocommerce.widget_shopping_cart .cart_list li a.remove {
  right: 0px;
}
.woocommerce ul.cart_list li a img,
.woocommerce ul.product_list_widget li a img {
  float: right;
  margin: 0 0 0 20px;
}
.woocommerce .widget_shopping_cart .buttons a,
.woocommerce.widget_shopping_cart .buttons a {
  margin-left: 5px;
}
.footer-widget ul.product-categories {
  padding-right: 0;
}
.elst-widget ul.product-categories li .count {
  left: 0;
}
#edd_checkout_form_wrap legend {
  float: right;
}
.elst-download-item .edd_purchase_submit_wrapper a.button {
  right: 0;
}
div.bbp-template-notice,
div.indicator-hint {
  float: right;
}
#bbpress-forums #favorite-toggle, #bbpress-forums #subscription-toggle {
  float: left;
}
.post-date-wrap {
  right: 0;
}
.news-two .elst-meta-wrap {
  text-align: left;
}
.news-two .elst-news-btm-meta {
  padding-left: 20px;
}
.has-sidebar .news-two .elst-meta-wrap {
  text-align: right;
}
.elst-news-link i {
  padding-right: 5px;
}
.elst-news-link span:after {
  right: auto;
  left: 0;
}
.elst-news-link:hover span:after {
  right: 0;
}
.elst-news-item.news-five .elst-image:after {
  right: 0;
}
.elst-news-item.news-five .elst-news-info {
  right: 0;
}
.masonry-item {
  float: right;
}
.news-eight .elst-image .elst-news-cats {
  right: 10px;
}
.news-eight .elst-news-cats a:before {
  right: -11px;
}
.news-eight .elst-image .elst-news-cats a {
  margin-right: 15px;
}
.news-eight .elst-image .elst-news-cats a:first-child {
  margin-right: 0;
}
.elst-preloader {
  right: 0;
}
.elst-back-top {
  left: 15px;
}
.elst-news-item .elst-news-info.blog-quote {
  padding: 30px 35px 30px 100px;
}
.elst-sticky-footer .elst-footer {
  right: 0;
}
.elst-projects-wrap .section-title-wrap {
  text-align: right;
}
.elst-projects-wrap .section-title-wrap .masonry-filters {
  float: left;
}
.elst-projects-wrap .section-title-wrap .masonry-filters ul li {
  padding: 0 31px 0 16px;
}
.project-info {
  right: 0;
  left: 0;
}
.project-info-wrap {
  right: 0;
  left: 0;
}
.project-more-info-wrap {
  float: right;
}
.project-link {
  left: 50px;
}
.project-link a:before,
.project-link a:after {
  right: 0;
}
.project-link a:after {
  right: 50%;
}
.elst-team-item.style-two .mate-info {
  right: 0;
}
.elst-team-item.style-two:after {
  right: 0;
}
.mega-menu .dropdown-nav {
  right: -77px;
}
.mega-menu .dropdown-nav li {
  float: right;
}
.dropdown-nav li.nav-btn-style a i {
  padding-right: 3px;
}
.right-border {
  border-left: 1px solid #e1e6f2;
  border-right: none;
}
.owl-carousel,
.bx-wrapper { 
  direction: ltr; 
}
.owl-carousel .owl-item { 
  direction: rtl; 
}
.elst-social {
  text-align: right;
}