- name: FTP Deploy
  uses: SamKirkland/FTP-Deploy-Action@v4.3.5
  with:
    server: ${{ secrets.FTP_SERVER }}
    username: ${{ secrets.FTP_USERNAME }}
    password: ${{ secrets.FTP_PASSWORD }}
    protocol: ftps    
    port: ${{ secrets.FTP_PORT }}
    protocol: ftp
    server-dir: /
    exclude: |
      **/.git*
      **/.github/**
      **/.vscode/**
      README.md
      .cpanel.yml
