# .github/workflows/deploy.yml

name: Deploy to Website via SFTP

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Deploy via SFTP
        uses: pressidium/lftp-mirror-action@v1
        with:
          host: ${{ secrets.FTP_SERVER }}
          port: 22
          user: ${{ secrets.FTP_USERNAME }}
          password: ${{ secrets.FTP_PASSWORD }}
          localDir: ./wp-content/themes/twentyfourteen
          remoteDir: public_html/wp-content/themes/twentyfourteen
          options: --reverse --delete --verbose
